Repository Altinn/app-lib-dotnet, pull requests merged in 2022-11, with the labels that each got.

#70 Add CodeQL scanning
  .github/workflows/codeql.yml
Labels: ignore-for-release

#73 Add release.yml
  .github/release.yml
Labels: ignore-for-release

#74 Bump Eformidling package to version 1.3.3
  src/Altinn.App.Core/Altinn.App.Core.csproj
Labels: dependency

#75 Configure renovate to add dependency label
  renovate.json
Labels: ignore-for-release

#80 Fix event subscription and eFormidling status check.
  src/Altinn.App.Api/Controllers/EventsReceiverController.cs
  src/Altinn.App.Core/EFormidling/Implementation/EformidlingStatusCheckEventHandler.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Infrastructure/Clients/Events/EventsSubscriptionClient.cs
  src/Altinn.App.Core/Internal/Events/EventHandlerResolver.cs
  src/Altinn.App.Core/Internal/Events/UnhandledEventHandler.cs
  src/Altinn.App.Core/Models/AppIdentifier.cs
  src/Altinn.App.Core/Models/InstanceIdentifier.cs
  test/Altinn.App.Api.Tests/Controllers/EventsReceiverControllerTests.cs
  test/Altinn.App.Api.Tests/EFormidling/EformidlingStatusCheckEventHandlerTests.cs
  test/Altinn.App.Core.Tests/Extensions/ServiceCollectionTests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/EventsSubscriptionClientTests.cs
  test/Altinn.App.Core.Tests/Internal/Events/EventHandlerResolverTests.cs
  test/Altinn.App.Core.Tests/Internal/Events/UnhandledEventHandlerTests.cs
  test/Altinn.App.Core.Tests/Models/AppIdentifierTests.cs
  test/Altinn.App.Core.Tests/Models/InstanceIdentifierTests.cs
Labels: bugfix

#67 Add datalists feature in backend
  src/Altinn.App.Api/Controllers/DataListsController.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/DataLists/DataListsFactory.cs
  src/Altinn.App.Core/Features/DataLists/DataListsService.cs
  src/Altinn.App.Core/Features/DataLists/IDataListsService.cs
  src/Altinn.App.Core/Features/DataLists/InstanceDataListsFactory.cs
  src/Altinn.App.Core/Features/DataLists/NullDataListProvider.cs
  src/Altinn.App.Core/Features/DataLists/NullInstanceDataListProvider.cs
  src/Altinn.App.Core/Features/IDataListProvider.cs
  src/Altinn.App.Core/Features/IInstanceDataListProvider.cs
  src/Altinn.App.Core/Features/Options/AppOptionsService.cs
  src/Altinn.App.Core/Models/DataList.cs
  src/Altinn.App.Core/Models/DataListMetadata.cs
  test/Altinn.App.Core.Tests/DataLists/DataListsFactoryTest.cs
  test/Altinn.App.Core.Tests/DataLists/InstanceDataListsFactoryTest.cs
  test/Altinn.App.Core.Tests/DataLists/NullDataListProviderTest.cs
  test/Altinn.App.Core.Tests/DataLists/NullInstanceDataListProviderTest.cs
Labels: external-contribution-❤️, feature

#99 Expressions: Tests for `dataModel` lookups against arrays and null
  test/Altinn.App.Core.Tests/Helpers/JsonDataModel.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/array-is-null.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/null-is-null.json
Labels: ignore-for-release
