Repository Altinn/app-lib-dotnet, pull requests merged in 2023-01, with the labels that each got.

#121 Check content-length not exceeding maxSize set on datatype
  src/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.App.Api/Helpers/RequestHandling/DataRestrictionValidation.cs
  test/Altinn.App.Api.Tests/Helpers/RequestHandling/DataRestrictionValidationTests.cs
Labels: bugfix

#102 Add a few convenience implementations for UpdateDataValues on IInstance interface
  src/Altinn.App.Core/Interface/IInstance.cs
  src/Altinn.App.Core/Models/InstanceIdentifier.cs
Labels: external-contribution-❤️

#150 Update shared tests and require maxCount for a `Group` component to be repeating
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluatorState.cs
  src/Altinn.App.Core/Models/Layout/LayoutModel.cs
  test/Altinn.App.Core.Tests/Helpers/JsonHelperTests.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/hidden-in-non-repeating-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-group-with-hidden.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/visible-in-non-repeating-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/Test2/FirstPage.json
Labels: external-contribution-❤️

#101 Cache definitions
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  test/Altinn.App.Core.Tests/Internal/Process/TestUtils/ProcessTestUtils.cs
Labels: bugfix

#157 PDF format API
  src/Altinn.App.Api/Controllers/PdfController.cs
Labels: feature

#159 PDF should not override pageOrder
  src/Altinn.App.Api/Controllers/PdfController.cs
Labels: ignore-for-release

#161 Fixed FindDiff not going deep enough
  src/Altinn.App.Core/Helpers/JsonHelper.cs
Labels: kind/bug

#166 File scan validation and scan results
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Api/Controllers/FileScanController.cs
  src/Altinn.App.Api/Models/DataElementFileScanResult.cs
  src/Altinn.App.Api/Models/InstanceFileScanResult.cs
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/Features/Validation/ValidationAppSI.cs
  src/Altinn.App.Core/Models/Validation/ValidationIssueCodes.cs
  test/Altinn.App.Api.Tests/Controllers/FileScanControllerTests.cs
  test/Altinn.App.Api.Tests/Models/InstanceFileScanResultTests.cs
Labels: feature

#168 Add validation on file scan status pending
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/Features/Validation/ValidationAppSI.cs
  test/Altinn.App.Core.Tests/Features/Validators/ValidationAppSITests.cs
Labels: feature

#174 Return NoContent for missing (optional) files
  src/Altinn.App.Api/Controllers/ResourceController.cs
  src/Altinn.App.Core/Implementation/AppResourcesSI.cs
Labels: external-contribution-❤️, feature

#175 Use more relaxed Json parsing in AppResourcesSi.cs
  src/Altinn.App.Core/Features/PageOrder/DefaultPageOrder.cs
  src/Altinn.App.Core/Implementation/AppResourcesSI.cs
Labels: external-contribution-❤️, bugfix

#176 Nullsafe active instances endpoint
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Mappers/SimpleInstanceMapper.cs
  test/Altinn.App.Api.Tests/Altinn.App.Api.Tests.csproj
  test/Altinn.App.Api.Tests/Controllers/InstancesController_ActiveInstancesTests.cs
Labels: external-contribution-❤️, bugfix
