Repository Altinn/app-lib-dotnet, pull requests merged in 2023-02, with the labels that each got.

#177 Add PresentationTexts to {org}/{app}/instances/{instanceOwnerPartyId}/active endpoint
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Api/Mappers/SimpleInstanceMapper.cs
  src/Altinn.App.Api/Models/SimpleInstance.cs
  src/Altinn.App.Core/Features/DataProcessing/NullInstantiationProcessor.cs
  src/Altinn.App.Core/Features/IInstantiationProcessor.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_ActiveInstancesTests.cs
Labels: external-contribution-❤️, feature

#179 Add DueBefore to /active instances endpoint
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Mappers/SimpleInstanceMapper.cs
  src/Altinn.App.Api/Models/SimpleInstance.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_ActiveInstancesTests.cs
Labels: external-contribution-❤️, feature

#190 Only set hard and soft delete flags when process is ended for autoDeleteOnProcessEnd
  src/Altinn.App.Core/Implementation/DefaultTaskEvents.cs
  test/Altinn.App.Core.Tests/Implementation/DefaultTaskEventsTests.cs
Labels: bugfix

#191 Tweaked the PDF config
  src/Altinn.App.Core/Models/Pdf/PdfGeneratorRequestOptions.cs
Labels: ignore-for-release

#194 Fix default `AppPdfPageUriTemplate`
  src/Altinn.App.Core/Internal/Pdf/PdfGeneratorSettings.cs
Labels: bugfix

#185 Populate InstanceOwner the same way for statelss apps
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Controllers/StatelessDataController.cs
  src/Altinn.App.Core/Helpers/InstantiationHelper.cs
  test/Altinn.App.Api.Tests/Controllers/StatelessDataControllerTests.cs
Labels: external-contribution-❤️, feature

#173 Add new DynamicsPdfFormatter
  src/Altinn.App.Api/Controllers/PdfController.cs
  src/Altinn.App.Core/Features/IPdfFormatter.cs
  src/Altinn.App.Core/Features/Pdf/DynamicsPdfFormatter.cs
  src/Altinn.App.Core/Internal/Pdf/PdfService.cs
Labels: external-contribution-❤️, feature
