Repository Altinn/app-lib-dotnet, pull requests merged in 2023-03, with the labels that each got.

#193 Improve settings in apps
  src/Altinn.App.Core/Configuration/GeneralSettings.cs
  src/Altinn.App.Core/Configuration/PlatformSettings.cs
  src/Altinn.App.Core/EFormidling/Implementation/EformidlingStatusCheckEventHandler.cs
  src/Altinn.App.Core/Infrastructure/Clients/Events/EventsClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Events/EventsSubscriptionClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Pdf/PdfGeneratorClient.cs
  src/Altinn.App.Core/Internal/Pdf/PdfGeneratorSettings.cs
  src/Altinn.App.Core/Internal/Pdf/PdfService.cs
  src/Altinn.App.Core/Models/AppIdentifier.cs
  test/Altinn.App.Api.Tests/Data/apps/ttd/eformidling-app/logic/App.cs
  test/Altinn.App.Core.Tests/Helpers/EmbeddedResource.cs
  test/Altinn.App.Core.Tests/Implementation/EventsClientTest.cs
  test/Altinn.App.Core.Tests/Internal/Pdf/PdfServiceTests.cs
  test/Altinn.App.Core.Tests/Models/AppIdentifierTests.cs
Labels: external-contribution-❤️

#201 Extract metadata methods from IAppResources to separate interface and add feature flags section (resolves #188)
  src/Altinn.App.Api/Controllers/ApplicationMetadataController.cs
  src/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.App.Api/Controllers/HomeController.cs
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Controllers/PartiesController.cs
  src/Altinn.App.Api/Controllers/ValidateController.cs
  src/Altinn.App.Api/Helpers/RequestHandling/DataRestrictionValidation.cs
  src/Altinn.App.Core/Configuration/AppSettings.cs
  src/Altinn.App.Core/EFormidling/Implementation/DefaultEFormidlingReceivers.cs
  src/Altinn.App.Core/EFormidling/Implementation/DefaultEFormidlingService.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Validation/ValidationAppSI.cs
  src/Altinn.App.Core/Helpers/DataHelper.cs
  src/Altinn.App.Core/Helpers/InstantiationHelper.cs
  src/Altinn.App.Core/Implementation/AppResourcesSI.cs
  src/Altinn.App.Core/Implementation/DefaultAppEvents.cs
  src/Altinn.App.Core/Implementation/DefaultTaskEvents.cs
  src/Altinn.App.Core/Infrastructure/Clients/Events/EventsClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Profile/ProfileClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Register/PersonClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Register/RegisterClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Register/RegisterDSFClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Register/RegisterERClient.cs
  src/Altinn.App.Core/Interface/IAppResources.cs
  src/Altinn.App.Core/Internal/App/AppMetadata.cs
  src/Altinn.App.Core/Internal/App/ApplicationConfigException.cs
  src/Altinn.App.Core/Internal/App/FrontendFeatures.cs
  src/Altinn.App.Core/Internal/App/IAppMetadata.cs
  src/Altinn.App.Core/Internal/App/IFrontendFeatures.cs
  src/Altinn.App.Core/Models/ApplicationMetadata.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_ActiveInstancesTests.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateControllerValidateDataTests.cs
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
  test/Altinn.App.Core.Tests/Features/Validators/ValidationAppSITests.cs
  test/Altinn.App.Core.Tests/Implementation/AppResourcesSITests.cs
  test/Altinn.App.Core.Tests/Implementation/DefaultTaskEventsTests.cs
  test/Altinn.App.Core.Tests/Implementation/EventsClientTest.cs
  test/Altinn.App.Core.Tests/Implementation/PersonClientTests.cs
  test/Altinn.App.Core.Tests/Implementation/TestData/AppMetadata/default.applicationmetadata.json
  test/Altinn.App.Core.Tests/Implementation/TestData/AppMetadata/invalid.applicationmetadata.json
  test/Altinn.App.Core.Tests/Implementation/TestData/AppPolicy/policy.xml
  test/Altinn.App.Core.Tests/Implementation/TestData/AppProcess/process.bpmn
  test/Altinn.App.Core.Tests/Internal/App/AppMedataTest.cs
  test/Altinn.App.Core.Tests/Internal/App/FrontendFeaturesTest.cs
  test/Altinn.App.Core.Tests/Internal/App/TestData/AppMetadata/default.applicationmetadata.json
  test/Altinn.App.Core.Tests/Internal/App/TestData/AppMetadata/eformid.applicationmetadata.json
  test/Altinn.App.Core.Tests/Internal/App/TestData/AppMetadata/invalid-int.applicationmetadata.json
  test/Altinn.App.Core.Tests/Internal/App/TestData/AppMetadata/invalid.applicationmetadata.json
  test/Altinn.App.Core.Tests/Internal/App/TestData/AppPolicy/policy.xml
  test/Altinn.App.Core.Tests/Internal/App/TestData/AppProcess/process.bpmn
  test/Altinn.App.Core.Tests/Models/ApplicationMetdataTests.cs
Labels: feature

#220 Add action to add all new issues to the team project
  .github/workflows/add-to-project.yml
Labels: ignore-for-release
