Repository Altinn/app-lib-dotnet, pull requests merged in 2023-05, with the labels that each got.

#224 Add GET endpoint to trigger copy of instance
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Core/Helpers/SelfLinkHelper.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_CopyInstanceTests.cs
  test/Altinn.App.Api.Tests/Utils/PrincipalUtil.cs
  test/Altinn.App.Core.Tests/Helpers/SelfLinkHelperTests.cs
Labels: feature

#238 Add support for "source" parameter on option based components
  src/Altinn.App.Core/Models/Layout/Components/OptionsComponent.cs
  src/Altinn.App.Core/Models/Layout/PageComponentComverter.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/Test2/FirstPage.json
Labels: external-contribution-❤️, feature

#243 Fix unauthorized submit resulting in 500
  src/Altinn.App.Api/Controllers/ValidateController.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateControllerTests.cs
Labels: bugfix
