Repository Altinn/app-lib-dotnet, pull requests merged in 2024-10, with the labels that each got.

#792 Add an optional footer for the generated PDF
  src/Altinn.App.Core/Infrastructure/Clients/Pdf/PdfGeneratorClient.cs
  src/Altinn.App.Core/Internal/Pdf/IPdfGeneratorClient.cs
  src/Altinn.App.Core/Internal/Pdf/PdfGeneratorSettings.cs
  src/Altinn.App.Core/Internal/Pdf/PdfService.cs
  src/Altinn.App.Core/Models/Pdf/PdfGeneratorRequestOptions.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstance.cs
  test/Altinn.App.Api.Tests/Controllers/PdfControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.cs
  test/Altinn.App.Core.Tests/Internal/Pdf/PdfServiceTests.cs
Labels: kind/feature-request

#819 Add test for posting instance simplified with prefill
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstance.cs
Labels: kind/chore

#836 Use text resource bindings to get footer title
  src/Altinn.App.Core/Internal/Pdf/PdfService.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_PdfFails_DataIsUnlocked.verified.txt
Labels: feature

#838 Handle invalid XML chars
  src/Altinn.App.Core/Helpers/ObjectUtils.cs
  test/Altinn.App.Core.Tests/Helpers/ObjectUtils_XmlSerializationTests.cs
Labels: bugfix

#852 Remove unused property on DataPatchResult
  src/Altinn.App.Core/Internal/Patch/DataPatchResult.cs
  src/Altinn.App.Core/Internal/Patch/PatchService.cs
  test/Altinn.App.Core.Tests/Internal/Patch/PatchServiceTests.cs
Labels: ignore-for-release

#867 Ensure release label on PR
  .github/release.yml
  .github/workflows/check-label-added.yml
Labels: ignore-for-release

#866 Use IUserTokenProvider instead of IHttpContextAccessor in InstanceClient
  src/Altinn.App.Core/Infrastructure/Clients/Storage/InstanceClient.cs
  test/Altinn.App.Core.Tests/Implementation/InstanceClientTests.cs
Labels: ignore-for-release, kind/chore
