Repository Altinn/app-lib-dotnet, pull requests merged in 2024-05, with the labels that each got.

#632 Fix flaky AppInsights DI tests
  test/Altinn.App.Api.Tests/DITests.cs
Labels: kind/chore

#635 Fix issue where URL encoding was missing when building query string for `InstanceClient.GetInstances`
  src/Altinn.App.Core/Infrastructure/Clients/Storage/InstanceClient.cs
  test/Altinn.App.Core.Tests/Implementation/InstanceClientTests.cs
Labels: bugfix

#634 Add utility to make it simpler to assert on http responses.
  test/Altinn.App.Api.Tests/Controllers/DataController_PutTests.cs
  test/Altinn.App.Api.Tests/CustomWebApplicationFactory.cs
  test/Altinn.App.Api.Tests/Utils/JsonUtils.cs
  test/Altinn.App.Api.Tests/Utils/ReflectionUtils.cs
Labels: ignore-for-release

#641 Cleanup analyzers and StyleCop config, enable builtint .NET static analysis
  .editorconfig
  Altinn3.ruleset
  Directory.Build.props
  Settings.StyleCop
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.App.Api/Controllers/DataTagsController.cs
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.App.Api/Helpers/RequestHandling/MultipartRequestReader.cs
  src/Altinn.App.Api/Infrastructure/Filters/ValidateAntiforgeryTokenIfAuthCookieAuthorizationFilter.cs
  src/Altinn.App.Core/EFormidling/Implementation/EformidlingStatusCheckEventHandler.cs
  src/Altinn.App.Core/EFormidling/Implementation/EformidlingStatusCheckEventHandler2.cs
  src/Altinn.App.Core/Extensions/ConfigurationBuilderExtensions.cs
  src/Altinn.App.Core/Features/Options/AppOptionsFactory.cs
  src/Altinn.App.Core/Features/Options/InstanceAppOptionsFactory.cs
  src/Altinn.App.Core/Helpers/AppTextHelper.cs
  src/Altinn.App.Core/Helpers/DataHelper.cs
  src/Altinn.App.Core/Helpers/DataModel/DataModel.cs
  src/Altinn.App.Core/Helpers/MimeTypeMap.cs
  src/Altinn.App.Core/Helpers/RemoveBomExtentions.cs
  src/Altinn.App.Core/Helpers/SelfLinkHelper.cs
  src/Altinn.App.Core/Implementation/PrefillSI.cs
  src/Altinn.App.Core/Infrastructure/Clients/Storage/DataClient.cs
  src/Altinn.App.Core/Internal/Events/EventHandlerResolver.cs
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluator.cs
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluatorState.cs
  src/Altinn.App.Core/Internal/Pdf/PdfService.cs
  src/Altinn.App.Core/Models/AppIdentifier.cs
  src/Altinn.App.Core/Models/Expressions/ComponentContext.cs
  src/Altinn.App.Core/Models/Layout/LayoutModel.cs
  stylecop.json
  test/Altinn.App.Api.Tests/Altinn.App.Api.Tests.csproj
  test/Altinn.App.Api.Tests/Controllers/ValidateControllerValidateDataTests.cs
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
  test/Altinn.App.Core.Tests/GlobalSuppressions.cs
  test/Altinn.App.Core.Tests/Helpers/JsonDataModel.cs
  test/Altinn.App.Core.Tests/Helpers/ObjectUtils_XmlSerializationTests.cs
  test/Altinn.App.Core.Tests/Implementation/InstanceClientTests.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/Test1/RunTest1.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/TestDataModel.cs
  test/Directory.Build.props
Labels: kind/chore

#636 Remove/fix or suppress null-forgiving operator usage in `src/`, enable warning/build errors
  .editorconfig
  Directory.Build.props
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Controllers/PdfController.cs
  src/Altinn.App.Api/Helpers/RequestHandling/MultipartRequestReader.cs
  src/Altinn.App.Api/Helpers/RequestHandling/RequestPart.cs
  src/Altinn.App.Api/Models/SimpleInstance.cs
  src/Altinn.App.Core/EFormidling/Implementation/DefaultEFormidlingService.cs
  src/Altinn.App.Core/EFormidling/Implementation/EformidlingStatusCheckEventHandler.cs
  src/Altinn.App.Core/EFormidling/Implementation/EformidlingStatusCheckEventHandler2.cs
  src/Altinn.App.Core/Extensions/HttpContextExtensions.cs
  src/Altinn.App.Core/Extensions/XmlToLinqExtensions.cs
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/Action/UniqueSignatureAuthorizer.cs
  src/Altinn.App.Core/Features/Options/Altinn2Provider/Altinn2CodeListProvider.cs
  src/Altinn.App.Core/Features/Options/AppOptionsFileHandler.cs
  src/Altinn.App.Core/Features/Payment/Processors/Nets/NetsPaymentProcessor.cs
  src/Altinn.App.Core/Features/Payment/Services/PaymentService.cs
  src/Altinn.App.Core/Features/Validation/Default/DataAnnotationValidator.cs
  src/Altinn.App.Core/Features/Validation/Default/LegacyIInstanceValidatorFormDataValidator.cs
  src/Altinn.App.Core/Features/Validation/Default/LegacyIInstanceValidatorTaskValidator.cs
  src/Altinn.App.Core/Features/Validation/Helpers/ModelStateHelpers.cs
  src/Altinn.App.Core/Helpers/ProcessHelper.cs
  src/Altinn.App.Core/Helpers/Serialization/ModelDeserializer.cs
  src/Altinn.App.Core/Implementation/AppResourcesSI.cs
  src/Altinn.App.Core/Implementation/PrefillSI.cs
  src/Altinn.App.Core/Infrastructure/Clients/Events/EventsClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/KeyVault/SecretsLocalClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Storage/DataClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Storage/InstanceClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Storage/InstanceEventClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Storage/ProcessClient.cs
  src/Altinn.App.Core/Internal/AppModel/DefaultAppModel.cs
  src/Altinn.App.Core/Internal/Expressions/ExpressionEvaluator.cs
  src/Altinn.App.Core/Internal/Language/ApplicationLanguage.cs
  src/Altinn.App.Core/Internal/Linq/Extensions.cs
  src/Altinn.App.Core/Internal/Patch/PatchService.cs
  src/Altinn.App.Core/Internal/Process/ProcessEngine.cs
  src/Altinn.App.Core/Internal/Process/ProcessEventHandlingDelegator.cs
  src/Altinn.App.Core/Internal/Process/ProcessReader.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/Common/ProcessTaskFinalizer.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/PaymentProcessTask.cs
  src/Altinn.App.Core/Models/ApplicationMetadata.cs
  src/Altinn.App.Core/Models/Layout/Components/GridComponent.cs
  src/Altinn.App.Core/Models/Layout/PageComponentConverter.cs
  src/Altinn.App.Core/Models/Validation/ValidationIssue.cs
  src/Directory.Build.props
  test/Altinn.App.Core.Tests/Features/Validators/ValidationServiceTests.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/LayoutModelConverterFromObject.cs
Labels: kind/chore

#657 Refactor to remove null-forgiving operator related to `AltinnPaymentConfiguration.PaymentDataType`
  src/Altinn.App.Api/Controllers/PaymentController.cs
  src/Altinn.App.Core/Features/Action/PaymentUserAction.cs
  src/Altinn.App.Core/Features/Payment/Services/IPaymentService.cs
  src/Altinn.App.Core/Features/Payment/Services/PaymentService.cs
  src/Altinn.App.Core/Internal/Process/Elements/AltinnExtensionProperties/AltinnPaymentConfiguration.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/PaymentProcessTask.cs
  test/Altinn.App.Core.Tests/Features/Action/PaymentUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Payment/AltinnPaymentConfigurationTests.cs
  test/Altinn.App.Core.Tests/Features/Payment/PaymentServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/PaymentProcessTaskTests.cs
Labels: kind/chore

#658 Ignore warning during pack due to Azure.Monitor prerelease dep
  src/Altinn.App.Api/Altinn.App.Api.csproj
Labels: kind/bug, bugfix

#659 Tests for telemetry enriching middleware, make ASP.NET Core spans root, misc improvements
  AppLibDotnet.sln
  src/Altinn.App.Api/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Api/Infrastructure/Middleware/TelemetryEnrichingMiddleware.cs
  src/Altinn.App.Core/Configuration/AppSettings.cs
  src/Altinn.App.Core/Features/Telemetry.cs
  src/Altinn.App.Core/Features/TelemetryActivityExtensions.cs
  test/Altinn.App.Api.Tests/Altinn.App.Api.Tests.csproj
  test/Altinn.App.Api.Tests/CustomWebApplicationFactory.cs
  test/Altinn.App.Api.Tests/Middleware/TelemetryEnrichingMiddlewareTests.Should_Always_Be_A_Root_Trace.verified.txt
  test/Altinn.App.Api.Tests/Middleware/TelemetryEnrichingMiddlewareTests.Should_Have_Root_AspNetCore_Trace_Org.verified.txt
  test/Altinn.App.Api.Tests/Middleware/TelemetryEnrichingMiddlewareTests.Should_Have_Root_AspNetCore_Trace_User.verified.txt
  test/Altinn.App.Api.Tests/Middleware/TelemetryEnrichingMiddlewareTests.cs
  test/Altinn.App.Api.Tests/Mocks/PepWithPDPAuthorizationMockSI.cs
  test/Altinn.App.Api.Tests/Program.cs
  test/Altinn.App.Api.Tests/Utils/PrincipalUtil.cs
  test/Altinn.App.Common.Tests/Altinn.App.Common.Tests.csproj
  test/Altinn.App.Common.Tests/TelemetryDITests.cs
  test/Altinn.App.Common.Tests/TelemetrySink.cs
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
  test/Altinn.App.Core.Tests/Features/Notifications/Email/EmailNotificationClientTests.cs
  test/Altinn.App.Core.Tests/Features/Notifications/Sms/SmsNotificationClientTests.cs
  test/Altinn.App.Core.Tests/Implementation/AppResourcesSITests.cs
  test/Altinn.App.Core.Tests/Implementation/EventsClientTest.cs
  test/Altinn.App.Core.Tests/Implementation/InstanceClientTests.AddCompleteConfirmation_SuccessfulCallToStorage.verified.txt
  test/Altinn.App.Core.Tests/Implementation/InstanceClientTests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Authorization/AuthorizationClientTests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Storage/DataClientTests.cs
  test/Altinn.App.Core.Tests/Internal/App/AppMedataTest.cs
  test/Altinn.App.Core.Tests/Internal/Auth/AuthorizationServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Patch/PatchServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Pdf/PdfServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessReaderTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/TestUtils/ProcessTestUtils.cs
Labels: kind/chore

#666 Remove `Scrutor` as dependency, refactor `ProfileClient`
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Infrastructure/Clients/Profile/ProfileClient.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Profile/ProfileClientTests.Returns_Test_Profile.verified.txt
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Profile/ProfileClientTests.cs
Labels: kind/chore
