Repository Altinn/app-lib-dotnet, pull requests merged in 2024-06, with the labels that each got.

#670 Add test for empty dataTypesToSign failure case, fix others
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Action/TestData/signing-task-process-empty-datatypes-to-sign.bpmn
Labels: ignore-for-release, kind/chore

#675 Set `AnalysisMode` to `Recommended`, fix resulting warnings
  .editorconfig
  src/Altinn.App.Api/Controllers/ApplicationMetadataController.cs
  src/Altinn.App.Api/Controllers/AuthorizationController.cs
  src/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.App.Api/Controllers/DataTagsController.cs
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Controllers/PartiesController.cs
  src/Altinn.App.Api/Controllers/PdfController.cs
  src/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.App.Api/Controllers/RedirectController.cs
  src/Altinn.App.Api/Controllers/StatelessDataController.cs
  src/Altinn.App.Api/Helpers/RequestHandling/MultipartRequestReader.cs
  src/Altinn.App.Api/Helpers/RequestHandling/RequestPartValidator.cs
  src/Altinn.App.Api/Infrastructure/Telemetry/HealthTelemetryFilter.cs
  src/Altinn.App.Api/Infrastructure/Telemetry/IdentityTelemetryFilter.cs
  src/Altinn.App.Core/Configuration/AppSettings.cs
  src/Altinn.App.Core/Constants/AuthzConstants.cs
  src/Altinn.App.Core/EFormidling/Implementation/DefaultEFormidlingService.cs
  src/Altinn.App.Core/Extensions/ClaimsPrincipalExtensions.cs
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/DataLists/DataListsFactory.cs
  src/Altinn.App.Core/Features/DataLists/InstanceDataListsFactory.cs
  src/Altinn.App.Core/Features/Options/Altinn2Provider/Altinn2MetadataApiClient.cs
  src/Altinn.App.Core/Features/Validation/Helpers/ModelStateHelpers.cs
  src/Altinn.App.Core/Helpers/AppTextHelper.cs
  src/Altinn.App.Core/Helpers/AuthenticationHelper.cs
  src/Altinn.App.Core/Helpers/DataModel/DataModel.cs
  src/Altinn.App.Core/Helpers/InstantiationHelper.cs
  src/Altinn.App.Core/Helpers/JsonSerializerIgnorePrefix.cs
  src/Altinn.App.Core/Helpers/MultiDecisionHelper.cs
  src/Altinn.App.Core/Helpers/ObjectUtils.cs
  src/Altinn.App.Core/Helpers/PathHelper.cs
  src/Altinn.App.Core/Helpers/SelfLinkHelper.cs
  src/Altinn.App.Core/Helpers/ShadowFieldsConverter.cs
  src/Altinn.App.Core/Helpers/UserHelper.cs
  src/Altinn.App.Core/Implementation/AppResourcesSI.cs
  src/Altinn.App.Core/Implementation/DefaultAppEvents.cs
  src/Altinn.App.Core/Implementation/PrefillSI.cs
  src/Altinn.App.Core/Infrastructure/Clients/KeyVault/SecretsLocalClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Profile/ProfileClientCachingDecorator.cs
  src/Altinn.App.Core/Infrastructure/Clients/Storage/InstanceClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Storage/InstanceEventClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Storage/TextClient.cs
  src/Altinn.App.Core/Internal/Data/DataService.cs
  src/Altinn.App.Core/Internal/Expressions/ExpressionEvaluator.cs
  src/Altinn.App.Core/Internal/Pdf/PdfService.cs
  src/Altinn.App.Core/Internal/Process/EventHandlers/EndEventEventHandler.cs
  src/Altinn.App.Core/Internal/Process/ExclusiveGatewayFactory.cs
  src/Altinn.App.Core/Internal/Process/ExpressionsExclusiveGateway.cs
  src/Altinn.App.Core/Internal/Process/ProcessReader.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/Common/ProcessTaskFinalizer.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/Common/ProcessTaskInitializer.cs
  src/Altinn.App.Core/Internal/Validation/ValidationService.cs
  src/Altinn.App.Core/Models/AppIdentifier.cs
  src/Altinn.App.Core/Models/DataList.cs
  src/Altinn.App.Core/Models/InstanceIdentifier.cs
  src/Directory.Build.props
Labels: ignore-for-release, kind/chore

#682 Improve dataAttributeTheoryTests so that they can run individually in Rider
  test/Altinn.App.Core.Tests/Features/Validators/Default/ExpressionValidatorTests.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestBackendExclusiveFunctions.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestContextList.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestFunctions.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestInvalid.cs
  test/Altinn.App.Core.Tests/Models/PageComponentConverterTests.cs
  test/Altinn.App.Core.Tests/TestUtils/FileNamesInFolderAttribute.cs
Labels: ignore-for-release

#688 Update OTel libaries to latest stable
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Core/Altinn.App.Core.csproj
Labels: kind/chore

#697 Use dedicated data type for storing payment receipt pdf.
  src/Altinn.App.Core/Internal/Process/Elements/AltinnExtensionProperties/AltinnPaymentConfiguration.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/PaymentProcessTask.cs
  test/Altinn.App.Core.Tests/Features/Action/TestData/payment-task-process.bpmn
  test/Altinn.App.Core.Tests/Features/Payment/AltinnPaymentConfigurationTests.cs
  test/Altinn.App.Core.Tests/Features/Payment/PaymentServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/PaymentProcessTaskTests.cs
Labels: area/payment
