Repository Altinn/app-lib-dotnet, pull requests merged in 2024-02, with the labels that each got.

#424 Fix an issue when having multiple indirections for an index operation in GetJsonPath
  src/Altinn.App.Core/Helpers/LinqExpressionHelpers.cs
  test/Altinn.App.Core.Tests/Helpers/LinqExpressionHelpersTests.cs
Labels: bugfix

#426 Ensure app options gets parsed with System.Text.Json (and let API return 404)
  src/Altinn.App.Api/Controllers/OptionsController.cs
  src/Altinn.App.Core/Features/Options/AppOptionsFileHandler.cs
  src/Altinn.App.Core/Features/Options/IAppOptionsFileHandler.cs
  src/Altinn.App.Core/Models/AppOptions.cs
  test/Altinn.App.Api.Tests/Controllers/OptionsControllerTests.cs
  test/Altinn.App.Api.Tests/Data/apps/tdd/contributer-restriction/options/fileSourceOptions.json
Labels: kind/chore

#425 Fix bugs with new Validation and PATCH endpoint
  src/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Validation/Default/LegacyIInstanceValidatorFormDataValidator.cs
  src/Altinn.App.Core/Features/Validation/Default/LegacyIInstanceValidatorTaskValidator.cs
  src/Altinn.App.Core/Features/Validation/ValidationService.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_PutTests.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateController_ValidateInstanceTests.cs
  test/Altinn.App.Api.Tests/Data/Instances/tdd/contributer-restriction/500600/3102f61d-1446-4ca5-9fed-3c7c7d67249c/blob/5240d834-dca6-44d3-b99a-1b7ca9b862af.pretest
  test/Altinn.App.Api.Tests/Data/apps/tdd/contributer-restriction/models/Skjema.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/LegacyIValidationFormDataTests.cs
Labels: bugfix, area/validation

#423 Add string? language to all validation functions
  src/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.App.Api/Controllers/ValidateController.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/IDataElementValidator.cs
  src/Altinn.App.Core/Features/IFormDataValidator.cs
  src/Altinn.App.Core/Features/ITaskValidator.cs
  src/Altinn.App.Core/Features/Validation/Default/DataAnnotationValidator.cs
  src/Altinn.App.Core/Features/Validation/Default/DefaultDataElementValidator.cs
  src/Altinn.App.Core/Features/Validation/Default/DefaultTaskValidator.cs
  src/Altinn.App.Core/Features/Validation/Default/ExpressionValidator.cs
  src/Altinn.App.Core/Features/Validation/Default/LegacyIInstanceValidatorFormDataValidator.cs
  src/Altinn.App.Core/Features/Validation/Default/LegacyIInstanceValidatorTaskValidator.cs
  src/Altinn.App.Core/Features/Validation/Default/RequiredValidator.cs
  src/Altinn.App.Core/Features/Validation/GenericFormDataValidator.cs
  src/Altinn.App.Core/Internal/Validation/FileValidationService.cs
  src/Altinn.App.Core/Internal/Validation/FileValidatorFactory.cs
  src/Altinn.App.Core/Internal/Validation/IFileValidationService.cs
  src/Altinn.App.Core/Internal/Validation/IFileValidatorFactory.cs
  src/Altinn.App.Core/Internal/Validation/IValidationService.cs
  src/Altinn.App.Core/Internal/Validation/IValidatorFactory.cs
  src/Altinn.App.Core/Internal/Validation/ValidationService.cs
  src/Altinn.App.Core/Models/Validation/ValidationIssue.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_PatchFormDataImplementation.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateControllerValidateDataTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/DataAnnotationValidatorTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/DefaultTaskValidatorTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/ExpressionValidatorTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/LegacyIValidationFormDataTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/ExpressionValidationTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/GenericValidatorTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/ValidationServiceOldTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/ValidationServiceTests.cs
Labels: feature

#454 Fix expression validation crash
  src/Altinn.App.Core/Features/Validation/Default/ExpressionValidator.cs
  src/Altinn.App.Core/Models/Validation/FrontendSeverityConverter.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/ExpressionValidatorTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/ExpressionValidationTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/backend/hidden-field.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/backend/hidden-page.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/backend/nested-repeating-hidden-row.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/backend/nested-repeating-hidden.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/backend/repeating-hidden-row.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/backend/repeating-hidden.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/shared/many-errors.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/shared/nested-repeating.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/shared/override.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/shared/repeating.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/shared/single-field-equals.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/shared/warning.json
Labels: bugfix

#459 Remove remnants of upgrade tool
  .github/workflows/publish-release.yml
Labels: ignore-for-release

#462 Fix expression validation (hidden & rowIndices)
  src/Altinn.App.Core/Features/Validation/Default/ExpressionValidator.cs
  src/Altinn.App.Core/Helpers/DataModel/DataModel.cs
  src/Altinn.App.Core/Internal/Expressions/ExpressionEvaluator.cs
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluator.cs
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluatorState.cs
  src/Altinn.App.Core/Models/Expressions/ComponentContext.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/ExpressionValidatorTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/shared/many-errors-direct.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/shared/repeating-direct.json
Labels: bugfix
