Repository Altinn/app-lib-dotnet, pull requests merged in 2024-11, with the labels that each got.

#872 Send language to IUserAction's when running process/next
  src/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.App.Core/Internal/Process/ProcessEngine.cs
  src/Altinn.App.Core/Models/Process/ProcessNextRequest.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.cs
Labels: bugfix

#881 Associate releases with GitHub environments
  .editorconfig
  .github/workflows/publish-release.yml
Labels: ignore-for-release, kind/chore

#885 Fix compatibility code in ActionsController to properly handle the obsolete UpdatedDataModels
  src/Altinn.App.Api/Controllers/ActionsController.cs
Labels: bugfix

#888 POST instance: don't attemt to parse instance from body when it's empty or not json
  src/Altinn.App.Api/Controllers/InstancesController.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstance.cs
Labels: bugfix

#898 Update workflows to run on all Pull Requests
  .github/workflows/check-label-added.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/dotnet-test.yml
  .github/workflows/test-and-analyze-fork.yml
  .github/workflows/test-and-analyze.yml
Labels: ignore-for-release

#899 Cherry-pick: Update workflows to run on all Pull Requests (#898)
  .github/workflows/check-label-added.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/dotnet-test.yml
  .github/workflows/test-and-analyze-fork.yml
  .github/workflows/test-and-analyze.yml
Labels: ignore-for-release

#896 Cherry-pick/836: footer title for text resource bindings
  src/Altinn.App.Core/Internal/Pdf/PdfService.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_PdfFails_DataIsUnlocked.verified.txt
Labels: feature

#900 Add tests for ActionController using IInstanceDataMutator
  src/Altinn.App.Api/Controllers/ActionsController.cs
  src/Altinn.App.Core/Internal/Data/InstanceDataUnitOfWork.cs
  src/Altinn.App.Core/Models/UserAction/UserActionContext.cs
  test/Altinn.App.Api.Tests/Controllers/ActionsControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/DataControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_LayoutEvaluatorTests.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_PatchTests.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_PostTests.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateController_ValidateInstanceTests.cs
  test/Altinn.App.Api.Tests/CustomWebApplicationFactory.cs
  test/Altinn.App.Api.Tests/Data/Instances/.gitignore
  test/Altinn.App.Api.Tests/Data/Instances/tdd/task-action/1337/b1135209-628e-4a6e-9efd-e4282068ef41.pretest.json
  test/Altinn.App.Api.Tests/Data/TestData.cs
  test/Altinn.App.Api.Tests/Data/apps/tdd/task-action/config/applicationmetadata.json
  test/Altinn.App.Api.Tests/Data/apps/tdd/task-action/config/models/Scheme.cs
Labels: ignore-for-release

#903 Validate tagname
  .github/workflows/publish-release.yml
Labels: ignore-for-release, kind/chore

#901 Associate releases with github environments (#881)
  .editorconfig
  .github/workflows/publish-release.yml
Labels: ignore-for-release, kind/chore

#887 use presence of org in user claims for conditionally setting read status on instance create
  src/Altinn.App.Api/Controllers/InstancesController.cs
Labels: bugfix

#906 Enable scope validation in api tests
  test/Altinn.App.Api.Tests/Controllers/Conventions/EnumSerializationTests.cs
  test/Altinn.App.Api.Tests/Program.cs
Labels: ignore-for-release

#904 Added support for displaying a text if the user is previewing the pdf
  src/Altinn.App.Api/Controllers/PdfController.cs
  src/Altinn.App.Core/Internal/Pdf/IPdfService.cs
  src/Altinn.App.Core/Internal/Pdf/PdfService.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/PaymentProcessTask.cs
  test/Altinn.App.Api.Tests/Controllers/PdfControllerTests.cs
  test/Altinn.App.Api.Tests/Data/apps/tdd/task-action/config/texts/resource.nb.json
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/PaymentProcessTaskTests.cs
Labels: feature

#910 Revert to using Newtonsoft.Json for parsing instance
  src/Altinn.App.Api/Controllers/InstancesController.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstanceTests.cs
  test/Altinn.App.Api.Tests/CustomWebApplicationFactory.cs
  test/Altinn.App.Api.Tests/Mocks/InstanceClientMockSi.cs
Labels: bugfix

#914 Make vulnerable transitive deps not an error when running in CI
  Directory.Build.props
  global.json
Labels: dependency

#915 Simplify JWT token model
  src/Altinn.App.Core/Features/Correspondence/CorrespondenceAuthorisationFactory.cs
  src/Altinn.App.Core/Features/Correspondence/CorrespondenceClient.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondencePayload.cs
  src/Altinn.App.Core/Features/Maskinporten/Delegates/MaskinportenDelegatingHandler.cs
  src/Altinn.App.Core/Features/Maskinporten/IMaskinportenClient.cs
  src/Altinn.App.Core/Features/Maskinporten/MaskinportenClient.cs
  src/Altinn.App.Core/Features/Maskinporten/Models/MaskinportenTokenResponse.cs
  src/Altinn.App.Core/Features/Maskinporten/Models/TokenCacheEntry.cs
  src/Altinn.App.Core/Features/Maskinporten/Models/TokenWrapper.cs
  src/Altinn.App.Core/Models/JwtToken.cs
  src/Altinn.App.Core/Models/JwtTokenJsonConverter.cs
  test/Altinn.App.Api.Tests/Utils/PrincipalUtil.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/CorrespondenceClientTests.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/Delegates/MaskinportenDelegatingHandlerTest.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/MaskinportenClientTest.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/Models/MaskinportenTokenResponseTest.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/Models/TokenWrapperTests.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/TestHelpers.cs
  test/Altinn.App.Core.Tests/Models/JwtTokenTests.cs
Labels: ignore-for-release

#918 Update Altinn.Common.PEP and use await Verify() instead of custom code
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Core/Altinn.App.Core.csproj
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
  test/Altinn.App.Api.Tests/OpenApi/swagger.yaml
  test/Altinn.App.Core.Tests/Helpers/MultiDecisionHelper/MultiDecisionHelperTests.CreateMultiDecisionRequest_generates_multidecisionrequest_with_all_actions_current_task_elemtnId.verified.txt
  test/Altinn.App.Core.Tests/Helpers/MultiDecisionHelper/MultiDecisionHelperTests.CreateMultiDecisionRequest_generates_multidecisionrequest_with_all_actions_endevent.verified.txt
  test/Altinn.App.Core.Tests/Helpers/MultiDecisionHelper/MultiDecisionHelperTests.CreateMultiDecisionRequest_generates_multidecisionrequest_with_all_actions_instanceId_is_GUID_only.verified.txt
  test/Altinn.App.Core.Tests/Helpers/MultiDecisionHelper/MultiDecisionHelperTests.cs
  test/Altinn.App.Core.Tests/Helpers/TestData/MultiDecisionHelper/multidecision-all-actions-endevent.golden.json
  test/Altinn.App.Core.Tests/Helpers/TestData/MultiDecisionHelper/multidecision-all-actions-guid.golden.json
  test/Altinn.App.Core.Tests/Helpers/TestData/MultiDecisionHelper/multidecision-all-actions-task.golden.json
  test/Altinn.App.Core.Tests/Internal/App/AppMetadataTest.GetApplicationMetadata_deserialize_serialize_unmapped_properties.verified.txt
  test/Altinn.App.Core.Tests/Internal/App/AppMetadataTest.cs
Labels: ignore-for-release

#921 Publish release notes to nuget
  .github/workflows/publish-release.yml
Labels: ignore-for-release

#907 Use extension methods instead of properties for convenience methods on IInstantanceDataAccessor
  src/Altinn.App.Core/Features/IInstanceDataAccessor.cs
  src/Altinn.App.Core/Features/Validation/Default/ExpressionValidator.cs
  src/Altinn.App.Core/Features/Validation/Default/LegacyIInstanceValidatorFormDataValidator.cs
  src/Altinn.App.Core/Features/Validation/Wrappers/DataElementValidatorWrapper.cs
  src/Altinn.App.Core/Features/Validation/Wrappers/FormDataValidatorWrapper.cs
  src/Altinn.App.Core/Helpers/DataModel/DataModel.cs
  src/Altinn.App.Core/Implementation/AppResourcesSI.cs
  src/Altinn.App.Core/Internal/Data/InstanceDataUnitOfWork.cs
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluatorState.cs
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluatorStateInitializer.cs
  src/Altinn.App.Core/Internal/Validation/IValidatorFactory.cs
  test/Altinn.App.Api.Tests/Controllers/ActionsControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_PostTests.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_FailingValidator_ReturnsValidationErrors.verified.txt
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_PdfFails_DataIsUnlocked.verified.txt
  test/Altinn.App.Api.Tests/Data/apps/tdd/contributer-restriction/models/default.validation.json
  test/Altinn.App.Core.Tests/Features/Validators/Default/ExpressionValidatorTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/LegacyIValidationFormDataTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/LegacyValidationServiceTests/ValidationServiceOldTests.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestBackendExclusiveFunctions.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestContextList.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestFunctions.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestInvalid.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/LayoutTestUtils.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/TestUtilities/DynamicClassBuilder.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/TestUtilities/InstanceDataAccessorFake.cs
Labels: feature

#920 Fix issues exposed by dotnet 9 sdk
  .editorconfig
  Directory.Build.props
  src/Altinn.App.Api/Controllers/ActionsController.cs
  src/Altinn.App.Api/Controllers/PdfController.cs
  src/Altinn.App.Api/Controllers/ProfileController.cs
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/Features/Maskinporten/Models/MaskinportenSettings.cs
  src/Altinn.App.Core/Internal/Language/ApplicationLanguage.cs
  test/Altinn.App.Api.Tests/Controllers/PdfControllerTests.cs
  test/Directory.Build.props
Labels: dependency

#922 Second try on publishing github release notes to nuget
  .github/workflows/publish-release.yml
  src/Directory.Build.props
Labels: ignore-for-release

#926 Update correspondence request model
  src/Altinn.App.Core/Features/Correspondence/Builder/CorrespondenceRequestBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/ICorrespondenceRequestBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/CorrespondenceClient.cs
  src/Altinn.App.Core/Features/Correspondence/ICorrespondenceClient.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceNotification.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceRequest.cs
  src/Altinn.App.Core/Features/Maskinporten/MaskinportenClient.cs
  src/Altinn.App.Core/Models/JwtToken.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Builder/CorrespondenceBuilderTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Models/CorrespondenceRequestTests.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/TestHelpers.cs
  test/Altinn.App.Core.Tests/Models/JwtTokenTests.cs
Labels: feature

#925 Add link to github view of release notes
  .github/workflows/publish-release.yml
Labels: ignore-for-release

#924 Pass tracecontext to pdf generator
  src/Altinn.App.Api/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Telemetry/Telemetry.PdfGeneratorClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Pdf/PdfGeneratorClient.cs
  test/Altinn.App.Api.Tests/Controllers/PdfControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_PdfFails_DataIsUnlocked.verified.txt
  test/Altinn.App.Api.Tests/CustomWebApplicationFactory.cs
  test/Altinn.App.Api.Tests/Middleware/TelemetryEnrichingMiddlewareTests.Should_Always_Be_A_Root_Trace_Unless_Pdf.verified.txt
  test/Altinn.App.Api.Tests/Middleware/TelemetryEnrichingMiddlewareTests.cs
  test/Altinn.App.Core.Tests/Internal/Pdf/PdfServiceTests.cs
Labels: ignore-for-release, kind/chore

#932 Minor `ServiceCollectionExtentions` cleanup
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
Labels: ignore-for-release, kind/chore

#940 Validate app only as contributor on paymentInformation and signature …
  src/Altinn.App.Api/Helpers/DataElementAccessChecker.cs
  src/Altinn.App.Core/Helpers/AllowedContributorsHelper.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/PaymentProcessTask.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  test/Altinn.App.Core.Tests/Helpers/AllowedContributorsHelperTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/PaymentProcessTaskTests.cs
Labels: feature

#930 Populate `UserContext.SocialSecurityNumber` in `UserHelper`
  src/Altinn.App.Core/Helpers/UserHelper.cs
  test/Altinn.App.Api.Tests/Data/Profile/User/1337.json
  test/Altinn.App.Api.Tests/Helpers/UserHelperTest.cs
  test/Altinn.App.Api.Tests/TestUtils/AppBuilder.cs
Labels: ignore-for-release, kind/chore
