Repository Altinn/app-lib-dotnet, pull requests merged in 2024-12, with the labels that each got.

#943 Update correspondence scope
  src/Altinn.App.Core/Features/Correspondence/Builder/BuilderUtils.cs
  src/Altinn.App.Core/Features/Correspondence/CorrespondenceAuthorisationFactory.cs
  src/Altinn.App.Core/Features/Correspondence/Exceptions/CorrespondenceValueException.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceAttachmentResponse.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceRequest.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Builder/CorrespondenceBuilderTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/CorrespondenceClientTests.cs
Labels: ignore-for-release

#945 Update lookup controllers
  src/Altinn.App.Api/Controllers/LookupOrganisationController.cs
  src/Altinn.App.Api/Controllers/LookupPersonController.cs
  test/Altinn.App.Api.Tests/Controllers/LookupOrganisationControllerTests.cs
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
  test/Altinn.App.Api.Tests/OpenApi/swagger.yaml
Labels: feature

#947 Update README.md
  README.md
Labels: ignore-for-release

#952 Publish NuGet packages from PR
  .config/dotnet-tools.json
  .github/workflows/pr-actions.yml
  src/Directory.Build.props
Labels: ignore-for-release, kind/chore

#955 Fix PR actions workflow
  .github/workflows/pr-actions.yml
Labels: ignore-for-release

#967 Fix double save in multipart requests
  src/Altinn.App.Api/Controllers/InstancesController.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_PutTests.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstanceTests.cs
Labels: bugfix

#980 Feature/persist signee context
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Api/Models/SingingStateResponse.cs
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/Extensions/StringExtensions.cs
  src/Altinn.App.Core/Features/Action/InitializeDelegatedSigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeContext.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeParty.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeState.cs
  src/Altinn.App.Core/Features/Signing/SigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/SigningNotificationService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  src/Altinn.App.Core/Helpers/AllowedContributorsHelper.cs
  src/Altinn.App.Core/Infrastructure/Clients/Storage/SignClient.cs
  src/Altinn.App.Core/Interface/IAppResources.cs
  src/Altinn.App.Core/Internal/App/IAppResources.cs
  src/Altinn.App.Core/Internal/Process/Elements/AltinnExtensionProperties/AltinnSignatureConfiguration.cs
  src/Altinn.App.Core/Internal/Process/Elements/ExclusiveGateway.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  src/Altinn.App.Core/Internal/Sign/SignatureContext.cs
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
  test/Altinn.App.Api.Tests/OpenApi/swagger.yaml
Labels: ignore-for-release, feature

#985 Correspondence debug addition
  src/Altinn.App.Core/Features/Correspondence/CorrespondenceClient.cs
Labels: ignore-for-release

#997 Person and Organisation Lookup Controllers
  src/Altinn.App.Api/Controllers/LookupOrganisationController.cs
  src/Altinn.App.Api/Controllers/LookupPersonController.cs
  src/Altinn.App.Api/Controllers/UserDefinedMetadataController.cs
  src/Altinn.App.Api/Models/LookupOrganisationResponse.cs
  src/Altinn.App.Api/Models/LookupPersonRequest.cs
  src/Altinn.App.Api/Models/LookupPersonResponse.cs
  test/Altinn.App.Api.Tests/Controllers/LookupOrganisationControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/LookupPersonControllerTests.cs
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
  test/Altinn.App.Api.Tests/OpenApi/swagger.yaml
Labels: feature
