Repository Altinn/app-lib-dotnet, pull requests merged in 2024-08, with the labels that each got.

#715 Implement IMaskinportenClient interface
  src/Altinn.App.Api/Extensions/HttpClientBuilderExtensions.cs
  src/Altinn.App.Api/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Api/Extensions/WebHostBuilderExtensions.cs
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/EFormidling/Implementation/EformidlingStatusCheckEventHandler2.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Maskinporten/Converters/JsonWebKeyConverter.cs
  src/Altinn.App.Core/Features/Maskinporten/Delegates/MaskinportenDelegatingHandler.cs
  src/Altinn.App.Core/Features/Maskinporten/Exceptions/MaskinportenAuthenticationException.cs
  src/Altinn.App.Core/Features/Maskinporten/Exceptions/MaskinportenConfigurationException.cs
  src/Altinn.App.Core/Features/Maskinporten/Exceptions/MaskinportenException.cs
  src/Altinn.App.Core/Features/Maskinporten/Exceptions/MaskinportenTokenExpiredException.cs
  src/Altinn.App.Core/Features/Maskinporten/Exceptions/MaskinportenUnsupportedTokenException.cs
  src/Altinn.App.Core/Features/Maskinporten/IMaskinportenClient.cs
  src/Altinn.App.Core/Features/Maskinporten/MaskinportenClient.cs
  src/Altinn.App.Core/Features/Maskinporten/Models/MaskinportenSettings.cs
  src/Altinn.App.Core/Features/Maskinporten/Models/MaskinportenTokenResponse.cs
  src/Altinn.App.Core/Features/Maskinporten/Models/TokenCacheEntry.cs
  src/Altinn.App.Core/Features/Telemetry.Maskinporten.cs
  src/Altinn.App.Core/Features/Telemetry.cs
  src/Altinn.App.Core/Internal/Maskinporten/IMaskinportenTokenProvider.cs
  src/Altinn.App.Core/Internal/Maskinporten/MaskinportenExtensions.cs
  src/Altinn.App.Core/Internal/Maskinporten/MaskinportenJwkTokenProvider.cs
  test/Altinn.App.Api.Tests/Extensions/HttpClientExtensions.cs
  test/Altinn.App.Api.Tests/Maskinporten/MaskinportenClientIntegrationTest.cs
  test/Altinn.App.Api.Tests/Telemetry/TelemetryConfigurationTests.cs
  test/Altinn.App.Api.Tests/TestUtils/AppBuilder.cs
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
  test/Altinn.App.Core.Tests/Features/Maskinporten/Delegates/MaskinportenDelegatingHandlerTest.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/MaskinportenClientTest.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/Models/MaskinportenSettingsTest.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/Models/MaskinportenTokenResponseTest.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/TestHelpers.cs
Labels: feature

#723 392: Fix response of PUT user-defined-metadata.
  src/Altinn.App.Api/Controllers/UserDefinedMetadataController.cs
Labels: bugfix

#725 Run API tests in prod environment always
  test/Altinn.App.Api.Tests/Program.cs
Labels: kind/bug, ignore-for-release, bugfix

#726 Payment: Add support for specifying payer details in OrderDetails
  src/Altinn.App.Core/Features/Payment/Models/Address.cs
  src/Altinn.App.Core/Features/Payment/Models/OrderDetails.cs
  src/Altinn.App.Core/Features/Payment/Models/Payer.cs
  src/Altinn.App.Core/Features/Payment/Processors/Nets/Models/NetsCheckout.cs
  src/Altinn.App.Core/Features/Payment/Processors/Nets/Models/NetsCheckoutConsumerDetails.cs
  src/Altinn.App.Core/Features/Payment/Processors/Nets/Models/README.md
  src/Altinn.App.Core/Features/Payment/Processors/Nets/NetsMapper.cs
  src/Altinn.App.Core/Features/Payment/Processors/Nets/NetsPaymentProcessor.cs
  src/Altinn.App.Core/Features/Payment/Processors/Nets/NetsPaymentSettings.cs
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
  test/Altinn.App.Api.Tests/OpenApi/swagger.yaml
  test/Altinn.App.Core.Tests/Features/Payment/Providers/Nets/NetsMapperTests.cs
Labels: feature, area/payment

#735 Make IProcessEventHandlerDelegator transient to avoid lifetime surprises in downstream services
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
Labels: kind/bug, bugfix
