Repository Altinn/app-lib-dotnet, pull requests merged in 2024-04, with the labels that each got.

#523 Unlock task data elements if PDF service task fails
  src/Altinn.App.Core/Internal/Process/EventHandlers/ProcessTask/EndTaskEventHandler.cs
  test/Altinn.App.Core.Tests/Internal/Process/EventHandlers/ProcessTask/EndTaskEventHandlerTests.cs
Labels: bugfix

#516 Add JoinedAppOptions to combine multiple option lists
  src/Altinn.App.Api/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Options/Altinn2Provider/Altinn2CodeListProvider.cs
  src/Altinn.App.Core/Features/Options/AppOptionsServiceExtentions.cs
  src/Altinn.App.Core/Features/Options/JoinedAppOptionsProvider.cs
  test/Altinn.App.Core.Tests/Features/Options/Altinn2Provider/Altinn2MetadataApiClientHttpMessageHandlerMoq.cs
  test/Altinn.App.Core.Tests/Features/Options/Altinn2Provider/Altinn2OptionsCacheTests.cs
  test/Altinn.App.Core.Tests/Features/Options/Altinn2Provider/Altinn2OptionsTests.cs
  test/Altinn.App.Core.Tests/Features/Options/AppOptionsFactoryTests.cs
  test/Altinn.App.Core.Tests/Features/Options/InstanceAppOptionsFactoryTests.cs
  test/Altinn.App.Core.Tests/Features/Options/JoinedAppOptionsTests.cs
  test/Altinn.App.Core.Tests/Features/Options/NullInstanceAppOptionsProviderTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/ExpressionValidatorTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/LegacyIValidationFormDataTests.cs
Labels: feature

#545 Add WebApplicationFactory test to ensure that data elements is unlocked when PDF generation fails
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.cs
Labels: ignore-for-release

#546 Remove archived date from pretest file. Was there by mistake.
  test/Altinn.App.Api.Tests/Data/Instances/tdd/contributer-restriction/500600/5a2fa5ec-f97c-4816-b57a-dc78a981917e.pretest.json
Labels: ignore-for-release

#588 Log the exception before returning the error to the event system.
  src/Altinn.App.Api/Controllers/EventsReceiverController.cs
Labels: bugfix

#583 Make `System.Text.Json.JsonSerializerOptions` instances static
  src/Altinn.App.Api/Controllers/ApplicationSettingsController.cs
  src/Altinn.App.Api/Controllers/HomeController.cs
  src/Altinn.App.Api/Controllers/PdfController.cs
  src/Altinn.App.Core/Features/Action/UniqueSignatureAuthorizer.cs
  src/Altinn.App.Core/Features/Options/AppOptionsFileHandler.cs
  src/Altinn.App.Core/Features/Validation/Default/ExpressionValidator.cs
  src/Altinn.App.Core/Helpers/Serialization/ModelDeserializer.cs
  src/Altinn.App.Core/Implementation/AppResourcesSI.cs
  src/Altinn.App.Core/Infrastructure/Clients/Events/EventsSubscriptionClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Pdf/PdfGeneratorClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Register/PersonClient.cs
  src/Altinn.App.Core/Internal/App/AppMetadata.cs
  src/Altinn.App.Core/Internal/Data/DataService.cs
  src/Altinn.App.Core/Internal/Language/ApplicationLanguage.cs
  src/Altinn.App.Core/Internal/Patch/PatchService.cs
  src/Altinn.App.Core/Internal/Process/ExpressionsExclusiveGateway.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/Common/ProcessTaskFinalizer.cs
  test/Altinn.App.Api.Tests/Controllers/ApplicationMetadataControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_PatchTests.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_PutTests.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstance.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateController_ValidateInstanceTests.cs
  test/Altinn.App.Api.Tests/Data/TestData.cs
  test/Altinn.App.Api.Tests/Mocks/AltinnPartyClientMock.cs
  test/Altinn.App.Api.Tests/Mocks/AppMetadataMock.cs
  test/Altinn.App.Api.Tests/Mocks/DataClientMock.cs
  test/Altinn.App.Api.Tests/Mocks/ProfileClientMock.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/ExpressionValidatorTests.cs
  test/Altinn.App.Core.Tests/Helpers/MultiDecisionHelperTests.cs
  test/Altinn.App.Core.Tests/Helpers/ShadowFieldsConverterTests.cs
  test/Altinn.App.Core.Tests/Internal/App/AppMedataTest.cs
  test/Altinn.App.Core.Tests/Internal/Data/DataServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ExpressionsExclusiveGatewayTests.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestBackendExclusiveFunctions.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestContextList.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestFunctions.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestInvalid.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/LayoutTestUtils.cs
  test/Altinn.App.Core.Tests/Models/PageComponentConverterTests.cs
Labels: kind/chore

#605 Follow naming convention for platform settings NotificationEndpoint
  src/Altinn.App.Core/Configuration/PlatformSettings.cs
  src/Altinn.App.Core/Features/Notifications/Email/EmailNotificationClient.cs
  src/Altinn.App.Core/Features/Notifications/Sms/SmsNotificationClient.cs
Labels: kind/chore

#591 Improve API for getting JSON options that ignore prefixes during serialization
  src/Altinn.App.Core/Helpers/JsonSerializerIgnorePrefix.cs
  src/Altinn.App.Core/Helpers/ShadowFieldsConverter.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/Common/ProcessTaskFinalizer.cs
  test/Altinn.App.Core.Tests/Helpers/JsonSerializerIgnorePrefixTests.cs
  test/Altinn.App.Core.Tests/Helpers/ShadowFieldsConverterTests.cs
Labels: kind/chore

#611 Add back filtration of ignored validators in patch endpoint
  src/Altinn.App.Core/Internal/Validation/ValidationService.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_PatchTests.cs
Labels: bugfix

#612 Revert "Make AppOptions.Options required"
  src/Altinn.App.Core/Models/AppOptions.cs
  test/Altinn.App.Core.Tests/Extensions/DictionaryExtensionsTests.cs
Labels: ignore-for-release
