Repository Altinn/app-lib-dotnet, pull requests merged in 2025-01, with the labels that each got.

#986 Adds self links to signing data elements
  src/Altinn.App.Api/Controllers/SigningController.cs
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
  test/Altinn.App.Api.Tests/OpenApi/swagger.yaml
Labels: feature

#995 Disable renovate for v7
  renovate.json
Labels: ignore-for-release, kind/chore

#1006 simplify lastname handling
  src/Altinn.App.Core/Features/Signing/Models/SigneeParty.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
Labels: feature, area/signing

#1009 Adds party id to signing state response
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Api/Models/SingingStateResponse.cs
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
  test/Altinn.App.Api.Tests/OpenApi/swagger.yaml
Labels: feature

#1007 Validate that the localtest version is new enough for the app on startup
  src/Altinn.App.Core/Configuration/GeneralSettings.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Internal/LocaltestValidation.cs
  test/Altinn.App.Api.Tests/Program.cs
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
  test/Altinn.App.Core.Tests/Internal/LocaltestValidationTests.cs
Labels: feature, kind/chore

#1014 Correspondence client serialisation update
  src/Altinn.App.Core/Constants/AltinnUrns.cs
  src/Altinn.App.Core/Constants/AuthzConstants.cs
  src/Altinn.App.Core/Features/Correspondence/Extensions/NationalIdentityNumberExtensions.cs
  src/Altinn.App.Core/Features/Correspondence/Extensions/OrganisationNumberExtensions.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceDetailsResponse.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondencePayload.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceRequest.cs
  src/Altinn.App.Core/Features/Correspondence/Models/OrganisationOrPersonIdentifier.cs
  src/Altinn.App.Core/Features/Maskinporten/Constants/JwtClaimTypes.cs
  src/Altinn.App.Core/Helpers/MultiDecisionHelper.cs
  src/Altinn.App.Core/Models/JwtToken.cs
  src/Altinn.App.Core/Models/LanguageCode.cs
  src/Altinn.App.Core/Models/NationalIdentityNumber.cs
  src/Altinn.App.Core/Models/NationalIdentityNumberJsonConverter.cs
  src/Altinn.App.Core/Models/OrganisationNumber.cs
  src/Altinn.App.Core/Models/OrganisationNumberJsonConverter.cs
  test/Altinn.App.Api.Tests/Constants/XacmlRequestAttribute.cs
  test/Altinn.App.Api.Tests/Controllers/StatelessDataControllerTests.cs
  test/Altinn.App.Api.Tests/Mocks/PepWithPDPAuthorizationMockSI.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/CorrespondenceClientTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Models/CorrespondenceRequestTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Models/CorrespondenceResponseTests.cs
  test/Altinn.App.Core.Tests/Helpers/MultiDecisionHelper/MultiDecisionHelperTests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Authorization/AuthorizationClientTests.cs
  test/Altinn.App.Core.Tests/Models/JwtTokenJsonConverterTest.cs
  test/Altinn.App.Core.Tests/Models/JwtTokenTests.cs
  test/Altinn.App.Core.Tests/Models/LanguageCodeJsonConverterTest.cs
  test/Altinn.App.Core.Tests/Models/LanguageCodeTests.cs
  test/Altinn.App.Core.Tests/Models/NationalIdentityNumberJsonConverterTest.cs
  test/Altinn.App.Core.Tests/Models/NationalIdentityNumberTests.cs
  test/Altinn.App.Core.Tests/Models/OrganisationNumberJsonConverterTest.cs
  test/Altinn.App.Core.Tests/Models/OrganisationNumberTests.cs
Labels: bugfix

#1010 Throw explicit exception when group children is not found.
  src/Altinn.App.Core/Models/Layout/PageComponentConverter.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/invalid/group-missing-child.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/invalid/two-components-same-id.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/invalid/two-groups-same-child.json
Labels: ignore-for-release

#1029 Update tag validation regex in CI
  .github/workflows/publish-release.yml
Labels: ignore-for-release, kind/chore

#1030 Use v8 deps for main .NET/MS packages, update renovate config to stick to v8
  global.json
  renovate.json
  test/Altinn.App.Common.Tests/Altinn.App.Common.Tests.csproj
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
Labels: ignore-for-release, kind/chore

#1032 Fix a few issues when verifying swagger documentation
  .editorconfig
  src/Altinn.App.Api/Helpers/StartupHelper.cs
  test/Altinn.App.Api.Tests/Helpers/StartupHelperTests.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.txt
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.cs
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
  test/Altinn.App.Api.Tests/OpenApi/swagger.yaml
Labels: ignore-for-release

#1021 Feature/signing notification
  src/Altinn.App.Core/Features/ISmsNotificationClient.cs
  src/Altinn.App.Core/Features/Notifications/Sms/SmsNotificationClient.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeParty.cs
  src/Altinn.App.Core/Features/Signing/SigningNotificationService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  src/Altinn.App.Core/Features/Telemetry/Telemetry.SigningService.cs
  src/Altinn.App.Core/Helpers/LanguageHelper.cs
  src/Altinn.App.Core/Internal/Language/LanguageConst.cs
  src/Altinn.App.Core/Internal/Pdf/PdfService.cs
  src/Altinn.App.Core/Models/Notifications/Email/EmailOrderResponse.cs
  src/Altinn.App.Core/Models/Notifications/Sms/SmsNotificationException.cs
  src/Altinn.App.Core/Models/Notifications/Sms/SmsOrderResponse.cs
  test/Altinn.App.Core.Tests/Features/Signing/Notifications/SigningNotificationServiceTests.cs
  test/Altinn.App.Core.Tests/Helpers/LanguageHelperTests.cs
  test/Altinn.App.Core.Tests/Internal/Pdf/PdfServiceTests.cs
Labels: feature

#1034 Fix setting signing delegation state
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Core/Features/IInstanceDataMutator.cs
Labels: bugfix

#1040 Synchronizing shared expression tests with frontend
  src/Altinn.App.Core/Internal/Expressions/ExpressionEvaluator.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/ExpressionTestCaseRoot.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestFunctions.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/context-lists/groups/oneRow.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/context-lists/groups/twoRows.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/context-lists/recursiveGroups/recursiveOneRow.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/context-lists/recursiveGroups/recursiveTwoRowsInner.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/context-lists/recursiveGroups/recursiveTwoRowsOuter.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/argv/arg-can-be-null.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/argv/error-no-args.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/argv/error-no-such-arg.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/argv/simple-0.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/argv/simple-1.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/across-pages-hidden.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/across-pages.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/duplicate-id-1.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/duplicate-id-2.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/hidden-in-group-other-row.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/hidden-in-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/hide-group-component.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-group-group-hidden.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-group-page-hidden.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-group-with-hidden.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-nested-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-nested-group2.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/direct-reference-in-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/direct-reference-in-nested-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/direct-reference-in-nested-group2.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/direct-reference-in-nested-group3.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/direct-reference-in-nested-group4.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/in-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/in-nested-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModelMultiple/component-lookup-non-existing-model.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModelMultiple/dataModel-non-default-model.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModelMultiple/dataModel-non-existing-model.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/stringLength/length-equals.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/layout-preprocessor/failures.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/layout-preprocessor/successful.json
Labels: ignore-for-release, kind/chore

#1039 Download signDocuments and synchronize with SigneeContexts.
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeContext.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  src/Altinn.App.Core/Helpers/AllowedContributorsHelper.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
Labels: feature

#1042 Send receipt for completed signing
  src/Altinn.App.Core/Configuration/AppSettings.cs
  src/Altinn.App.Core/Constants/AltinnEnvironments.cs
  src/Altinn.App.Core/EFormidling/Implementation/EformidlingDeliveryException.cs
  src/Altinn.App.Core/Exceptions/AltinnException.cs
  src/Altinn.App.Core/Exceptions/ConfigurationException.cs
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/Correspondence/Exceptions/CorrespondenceException.cs
  src/Altinn.App.Core/Features/Maskinporten/Exceptions/MaskinportenException.cs
  src/Altinn.App.Core/Features/Payment/Exceptions/PaymentException.cs
  src/Altinn.App.Core/Features/Signing/Exceptions/SignaturePartyNotValidException.cs
  src/Altinn.App.Core/Features/Signing/Exceptions/SigneeProviderNotFoundException.cs
  src/Altinn.App.Core/Helpers/DataModel/DataModelException.cs
  src/Altinn.App.Core/Helpers/PlatformHttpException.cs
  src/Altinn.App.Core/Helpers/ServiceException.cs
  src/Altinn.App.Core/Internal/AccessManagement/Exceptions/AccessManagementException.cs
  src/Altinn.App.Core/Internal/AltinnCdn/AltinnCdnClient.cs
  src/Altinn.App.Core/Internal/AltinnCdn/AltinnCdnOrgs.cs
  src/Altinn.App.Core/Internal/AltinnCdn/IAltinnCdnClient.cs
  src/Altinn.App.Core/Internal/App/ApplicationConfigException.cs
  src/Altinn.App.Core/Internal/Expressions/ExpressionEvaluatorTypeErrorException.cs
  src/Altinn.App.Core/Internal/Linq/Extensions.cs
  src/Altinn.App.Core/Internal/Pdf/PdfGenerationException.cs
  src/Altinn.App.Core/Internal/Process/Elements/AltinnExtensionProperties/AltinnEnvironmentConfig.cs
  src/Altinn.App.Core/Internal/Process/Elements/AltinnExtensionProperties/AltinnSignatureConfiguration.cs
  src/Altinn.App.Core/Internal/Process/Elements/AltinnExtensionProperties/AltinnTaskExtension.cs
  src/Altinn.App.Core/Internal/Process/ProcessException.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  src/Altinn.App.Core/Models/Notifications/Email/EmailNotificationException.cs
  src/Altinn.App.Core/Models/Notifications/Sms/SmsNotificationException.cs
  src/Altinn.App.Core/Models/UserAction/UserActionContext.cs
  src/Altinn.App.Core/Models/Validation/ValidationException.cs
  test/Altinn.App.Core.Tests/Constants/AltinnEnvironmentsTest.cs
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Action/TestData/signing-task-process.bpmn
  test/Altinn.App.Core.Tests/Internal/AltinnCdn/AltinnCdnClientTest.cs
  test/Altinn.App.Core.Tests/Internal/Linq/ExtensionsTest.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessReaderTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/TestData/simple-gateway-signature-config.bpmn
  test/Altinn.App.Core.Tests/Mocks/RequestInterceptor.cs
Labels: ignore-for-release

#1041 Fix a few nullability issues in api spec
  src/Altinn.App.Api/Models/DataPatchResponseMultiple.cs
  src/Altinn.App.Api/Models/DataPostResponse.cs
  src/Altinn.App.Core/Models/Validation/ValidationIssueWithSource.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.txt
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
Labels: ignore-for-release

#1044 Simplify PR builds, change pr version format
  .github/workflows/pr-actions.yml
  src/Altinn.App.Core/Models/ApplicationMetadata.cs
  src/Directory.Build.props
  test/Altinn.App.Core.Tests/Internal/App/AppMetadataTest.cs
  test/Altinn.App.Core.Tests/Models/ApplicationMetdataTests.cs
Labels: bugfix

#1047 Single quotes in prefill data
  src/Altinn.App.Core/Implementation/PrefillSI.cs
  test/Altinn.App.Core.Tests/Implementation/PrefillSITest.cs
Labels: bugfix

#1046 implements default signing task validator
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  src/Altinn.App.Core/Features/Validation/Default/SigningTaskValidator.cs
  src/Altinn.App.Core/Internal/Process/Elements/AltinnExtensionProperties/AltinnSignatureConfiguration.cs
  src/Altinn.App.Core/Models/Validation/ValidationIssueCodes.cs
  test/Altinn.App.Api.Tests/Controllers/DataControllerPatchTests.InvalidTestValue_ReturnsConflict.verified.txt
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_FailingValidator_ReturnsValidationErrors.verified.txt
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_PdfFails_DataIsUnlocked.verified.txt
  test/Altinn.App.Core.Tests/Features/Validators/Default/SigningTaskValidatorTests.cs
Labels: feature

#1053 Improve backwards compatibility for apps that use LayoutEvaluator.RemoveHiddenData
  src/Altinn.App.Core/Helpers/DataModel/RowRemovalOption.cs
  src/Altinn.App.Core/Internal/App/IAppResources.cs
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluator.cs
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluatorState.cs
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluatorStateInitializer.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/Common/ProcessTaskFinalizer.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/Test2/RunTest2.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/Test3/RunTest3.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/TestDataModel.cs
Labels: bugfix

#1060 Add "other" as accepted label
  .github/workflows/check-label-added.yml
Labels: ignore-for-release

#1059 Mark Correspondence client and responses as `Experimental`
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/Features/Correspondence/CorrespondenceClient.cs
  src/Altinn.App.Core/Features/Correspondence/ICorrespondenceClient.cs
  src/Altinn.App.Core/Features/Correspondence/Models/GetCorrespondenceStatusResponse.cs
  src/Altinn.App.Core/Features/Correspondence/Models/SendCorrespondenceResponse.cs
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
Labels: other

#1064 Add back AssemblyVersionTarget
  src/Directory.Build.props
Labels: bugfix

#1051 Pdf-sign
  src/Altinn.App.Core/Internal/Process/Elements/AltinnExtensionProperties/AltinnSignatureConfiguration.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
Labels: feature

#1073 Fix bug where datamodel field was removed when `RepeatingGroup` components' hidden expression differed
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluator.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RepeatingGroupsHidden/Page1.json
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RepeatingGroupsHidden/Page2.json
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RepeatingGroupsHidden/RepeatingGroupsHidden.Test_Hidden_Multiple_Groups_hidePage1=False_hidePage2=False.verified.txt
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RepeatingGroupsHidden/RepeatingGroupsHidden.Test_Hidden_Multiple_Groups_hidePage1=False_hidePage2=True.verified.txt
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RepeatingGroupsHidden/RepeatingGroupsHidden.Test_Hidden_Multiple_Groups_hidePage1=True_hidePage2=False.verified.txt
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RepeatingGroupsHidden/RepeatingGroupsHidden.Test_Hidden_Multiple_Groups_hidePage1=True_hidePage2=True.verified.txt
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RepeatingGroupsHidden/RepeatingGroupsHidden.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/Test2/RunTest2.cs
Labels: kind/bug, bugfix
