Repository Altinn/app-lib-dotnet, pull requests merged in 2025-07, with the labels that each got.

#1371 Update OpenTelemetry packages to v1.12
  Directory.Packages.props
Labels: dependency, backport-ignore

#1385 Update 005-environment-specific-config.md
  doc/adr/005-environment-specific-config.md
Labels: kind/documentation, ignore-for-release, other, backport-ignore

#1386 Chore/public access management
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/AccessManagement/IAccessManagementClient.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningDelegationService.cs
  src/Altinn.App.Core/Infrastructure/Clients/AccessManagement/AccessManagementClient.cs
  src/Altinn.App.Core/Internal/AccessManagement/AccessManagementClient.cs
  src/Altinn.App.Core/Internal/AccessManagement/Models/DelegationRequest.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningDelegationServiceTests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/AccessManagement/AccessManagementClientTests.DelegateRights_VerifyHttpCall.verified.txt
  test/Altinn.App.Core.Tests/Infrastructure/Clients/AccessManagement/AccessManagementClientTests.RevokeRights_VerifyHttpCall.verified.txt
  test/Altinn.App.Core.Tests/Infrastructure/Clients/AccessManagement/AccessManagementClientTests.cs
  test/Altinn.App.Core.Tests/Internal/AccessManagement/DelegationRequestTests.cs
Labels: feature, backport-ignore

#1390 Better exceptions for delegations
  src/Altinn.App.Core/Infrastructure/Clients/AccessManagement/AccessManagementClient.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/AccessManagement/AccessManagementClientTests.cs
Labels: feature, kind/chore, backport-ignore

#1373 Add support for sensitive data elements
  Directory.Packages.props
  src/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Controllers/UserDefinedMetadataController.cs
  src/Altinn.App.Api/Extensions/InstanceExtensions.cs
  src/Altinn.App.Api/Helpers/DataElementAccessChecker.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Validation/Default/ExpressionValidator.cs
  src/Altinn.App.Core/Features/Validation/Wrappers/DataElementValidatorWrapper.cs
  src/Altinn.App.Core/Features/Validation/Wrappers/FormDataValidatorWrapper.cs
  src/Altinn.App.Core/Infrastructure/Clients/Authorization/AuthorizationClient.cs
  src/Altinn.App.Core/Internal/Data/DataElementAccessChecker.cs
  src/Altinn.App.Core/Internal/Data/IDataElementAccessChecker.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/Common/ProcessTaskFinalizer.cs
  src/Altinn.App.Core/Internal/Validation/IValidatorFactory.cs
  test/Altinn.App.Api.Tests/Controllers/ApplicationMetadataControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/Conventions/EnumSerializationTests.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_PatchTests.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_RequiredActionTests.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_UserAccessTests.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesControllerFixture.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_PdfFails_DataIsUnlocked.verified.txt
  test/Altinn.App.Api.Tests/CustomWebApplicationFactory.cs
  test/Altinn.App.Api.Tests/Data/apps/tdd/contributer-restriction/config/applicationmetadata.json
  test/Altinn.App.Api.Tests/Data/apps/tdd/contributer-restriction/config/authorization/policy.xml
  test/Altinn.App.Api.Tests/Extensions/InstanceExtensionsTest.cs
  test/Altinn.App.Api.Tests/Helpers/Patch/PatchServiceTests.cs
  test/Altinn.App.Api.Tests/Mocks/Authentication/ConfigurationManagerStub.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveCustomOpenApiSpec.verified.json
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/ExpressionValidatorTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/LegacyValidationServiceTests/ValidationServiceOldTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/LegacyValidationServiceTests/ValidationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/ValidationServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/App/AppMetadataTest.GetApplicationMetadata_deserialize_serialize_unmapped_properties.verified.txt
  test/Altinn.App.Core.Tests/Internal/Data/DataElementAccessCheckerTest.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/Common/ProcessTaskFinalizerTests.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/SubForm/SubFormTests.cs
Labels: feature, backport-ignore

#1398 Public API verify snapshots for Core and Api
  Directory.Packages.props
  test/Altinn.App.Api.Tests/Altinn.App.Api.Tests.csproj
  test/Altinn.App.Api.Tests/PublicApiTests.PublicApi_ShouldNotChange_Unintentionally.verified.txt
  test/Altinn.App.Api.Tests/PublicApiTests.cs
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
  test/Altinn.App.Core.Tests/PublicApiTests.PublicApi_ShouldNotChange_Unintentionally.verified.txt
  test/Altinn.App.Core.Tests/PublicApiTests.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1397 Fix usage of `ProducesResponseType` attributes on controller endpoints
  src/Altinn.App.Api/Controllers/ActionsController.cs
  src/Altinn.App.Api/Controllers/ApplicationMetadataController.cs
  src/Altinn.App.Api/Controllers/ApplicationSettingsController.cs
  src/Altinn.App.Api/Controllers/AuthenticationController.cs
  src/Altinn.App.Api/Controllers/AuthorizationController.cs
  src/Altinn.App.Api/Controllers/EventsReceiverController.cs
  src/Altinn.App.Api/Controllers/ExternalApiController.cs
  src/Altinn.App.Api/Controllers/HomeController.cs
  src/Altinn.App.Api/Controllers/PagesController.cs
  src/Altinn.App.Api/Controllers/PartiesController.cs
  src/Altinn.App.Api/Controllers/PdfController.cs
  src/Altinn.App.Api/Controllers/ProfileController.cs
  src/Altinn.App.Api/Controllers/ResourceController.cs
  src/Altinn.App.Api/Controllers/StatelessPagesController.cs
  src/Altinn.App.Api/Controllers/TextsController.cs
  src/Altinn.App.Api/Controllers/ValidateController.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Api.Tests/PublicApiTests.PublicApi_ShouldNotChange_Unintentionally.verified.txt
Labels: kind/chore, other, backport-ignore

#1407 Fix issue where request message is disposed before fully processed
  src/Altinn.App.Core/Extensions/HttpClientExtension.cs
  src/Altinn.App.Core/Infrastructure/Clients/Register/AltinnPartyClient.cs
Labels: bugfix, backport-ignore
