Repository Altinn/app-lib-dotnet, pull requests merged in 2025-08, with the labels that each got.

#1418 Try to fix PR actions
  .github/workflows/pr-actions.yml
Labels: ignore-for-release, backport-ignore

#1419 Try to fix PR actions again
  .github/workflows/pr-actions.yml
Labels: ignore-for-release, backport-ignore

#1422 Extend date verification regex timeout so that tests in CI are a little less flaky
  benchmark/Altinn.App.Benchmarks/Expressions/DateVerificationRegexBenchmarks.cs
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/Internal/Expressions/UnicodeDateTimeTokenConverter.cs
Labels: ignore-for-release, backport-ignore

#1424 Chore/patch updates only
  Directory.Packages.props
Labels: dependency, kind/chore, backport

#1425 DataClient authentication improvements
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/AuthenticationMethod.cs
  src/Altinn.App.Core/Infrastructure/Clients/Storage/DataClient.cs
  src/Altinn.App.Core/Internal/Auth/AuthenticationTokenResolver.cs
  src/Altinn.App.Core/Internal/Auth/IAuthenticationTokenResolver.cs
  src/Altinn.App.Core/Internal/Data/IDataClient.cs
  src/Altinn.App.Core/Internal/LocaltestValidation.cs
  src/Altinn.App.Core/Internal/Pdf/PdfService.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_CopyInstanceTests.cs
  test/Altinn.App.Api.Tests/Helpers/Patch/PatchServiceTests.cs
  test/Altinn.App.Api.Tests/Mocks/DataClientMock.cs
  test/Altinn.App.Core.Tests/Eformidling/Implementation/DefaultEFormidlingServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Action/UniqueSignatureAuthorizerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningReceiptServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/LegacyValidationServiceTests/ValidationServiceTests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Storage/DataClientTests.InsertBinaryData_MethodProduceValidPlatformRequest_AltinnToken.verified.txt
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Storage/DataClientTests.InsertBinaryData_MethodProduceValidPlatformRequest_CustomToken.verified.txt
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Storage/DataClientTests.InsertBinaryData_MethodProduceValidPlatformRequest_DefaultAuth.verified.txt
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Storage/DataClientTests.InsertBinaryData_MethodProduceValidPlatformRequest_UserToken.verified.txt
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Storage/DataClientTests.cs
  test/Altinn.App.Core.Tests/Internal/Auth/AuthenticationTokenResolverTest.cs
  test/Altinn.App.Core.Tests/Internal/Data/DataServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Pdf/PdfServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ExpressionsExclusiveGatewayTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/Common/ProcessTaskDataLockerTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/PaymentProcessTaskTests.cs
  test/Altinn.App.Core.Tests/Models/AuthenticationMethod/AuthenticationMethodTest.cs
  test/Altinn.App.Core.Tests/PublicApiTests.PublicApi_ShouldNotChange_Unintentionally.verified.txt
  test/Altinn.App.Tests.Common/Auth/TestAuthentication.cs
Labels: feature, backport-ignore

#1383 Custom text parameters
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Core/Features/Validation/GenericFormDataValidator.cs
  src/Altinn.App.Core/Internal/Texts/ITranslationService.cs
  src/Altinn.App.Core/Internal/Texts/TranslationService.cs
  src/Altinn.App.Core/Internal/Validation/ValidationService.cs
  src/Altinn.App.Core/Models/Validation/InstantiationValidationResult.cs
  src/Altinn.App.Core/Models/Validation/ValidationIssue.cs
  src/Altinn.App.Core/Models/Validation/ValidationIssueWithSource.cs
  test/Altinn.App.Api.Tests/Controllers/HomeControllerTest_SetQueryParams.SetQueryParms_ReturnBadRequestWhenValidationFails.verified.txt
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveCustomOpenApiSpec.verified.json
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Core.Tests/Internal/Texts/TranslationServiceTests.cs
  test/Altinn.App.Core.Tests/PublicApiTests.PublicApi_ShouldNotChange_Unintentionally.verified.txt
Labels: feature, backport-ignore

#1445 Remove AccountController
  src/Altinn.App.Api/Controllers/AccountController.cs
  test/Altinn.App.Api.Tests/PublicApiTests.PublicApi_ShouldNotChange_Unintentionally.verified.txt
Labels: other, backport-ignore

#1449 PDF service connectivity test for integration tests harness
  test/Altinn.App.Integration.Tests/Altinn.App.Integration.Tests.csproj
  test/Altinn.App.Integration.Tests/Basic/BasicAppTests.cs
  test/Altinn.App.Integration.Tests/Basic/_snapshots/BasicAppTests.Authentication_auth=OldUser.verified.txt
  test/Altinn.App.Integration.Tests/Basic/_snapshots/BasicAppTests.Authentication_auth=User.verified.txt
  test/Altinn.App.Integration.Tests/Basic/_snapshots/BasicAppTests.ContainerConnectivity_Localtest.verified.txt
  test/Altinn.App.Integration.Tests/Basic/_snapshots/BasicAppTests.ContainerConnectivity_Pdf.verified.txt
  test/Altinn.App.Integration.Tests/README.md
  test/Altinn.App.Integration.Tests/_fixture/AppFixture.cs
  test/Altinn.App.Integration.Tests/_fixture/Operations/AppFixture.Connectivity.cs
  test/Altinn.App.Integration.Tests/_testapps/_shared/ConnectivityDiagnostics.cs
  test/Altinn.App.Integration.Tests/_testapps/_shared/ConnectivityResult.cs
  test/Altinn.App.Integration.Tests/_testapps/basic/App/Program.cs
Labels: ignore-for-release, backport-ignore

#1450 Handle invalid `filename` in `Content-Disposition` header as 400 bad request instead of 500 internal server errors
  src/Altinn.App.Api/Helpers/RequestHandling/DataRestrictionValidation.cs
  test/Altinn.App.Api.Tests/Helpers/RequestHandling/DataRestrictionValidationTests.cs
  test/Altinn.App.Api.Tests/PublicApiTests.PublicApi_ShouldNotChange_Unintentionally.verified.txt
  test/Altinn.App.Integration.Tests/Basic/BasicAppTests.cs
  test/Altinn.App.Integration.Tests/Basic/_snapshots/BasicAppTests.DataUpload_filenameQuoted=False_useNewEndpoint=False_0_UploadResponse.verified.txt
  test/Altinn.App.Integration.Tests/Basic/_snapshots/BasicAppTests.DataUpload_filenameQuoted=False_useNewEndpoint=True_0_UploadResponse.verified.txt
  test/Altinn.App.Integration.Tests/Basic/_snapshots/BasicAppTests.DataUpload_filenameQuoted=True_useNewEndpoint=False_0_UploadResponse.verified.txt
  test/Altinn.App.Integration.Tests/Basic/_snapshots/BasicAppTests.DataUpload_filenameQuoted=True_useNewEndpoint=True_0_UploadResponse.verified.txt
  test/Altinn.App.Integration.Tests/_fixture/Operations/AppFixture.Instances.cs
  test/Altinn.App.Integration.Tests/_testapps/basic/App/config/applicationmetadata.json
Labels: bugfix, backport

#1454 Consistent workflow targeting according to required status checks
  .github/workflows/codeql.yml
  .github/workflows/dotnet-test.yml
Labels: ignore-for-release, kind/chore, backport

#1452 Improve reliability of integration tests
  test/Altinn.App.Integration.Tests/_fixture/AppFixture.cs
  test/Altinn.App.Integration.Tests/_testapps/_shared/FixtureConfigurationService.cs
Labels: ignore-for-release, backport-ignore

#1448 Fix typo and file location for a couple of tests
  test/Altinn.App.Core.Tests/Features/AuthenticationMethodTest.cs
  test/Altinn.App.Core.Tests/Models/NationalIdentityNumberTests.cs
Labels: ignore-for-release, backport-ignore

#1457 imports before namespace
  src/Altinn.App.Api/Controllers/CustomOpenApiController.cs
  src/Altinn.App.Core/Features/Payment/IOrderDetailsCalculator.cs
  src/Altinn.App.Core/Features/Validation/Wrappers/FormDataValidatorWrapper.cs
  src/Altinn.App.Core/Helpers/LogSanitizer.cs
  test/Altinn.App.Api.Tests/Utils/JsonUtils.cs
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.cs
  test/Altinn.App.Core.Tests/Features/Auth/ScopesTests.cs
  test/Altinn.App.Core.Tests/Features/Notifications/Email/EmailNotificationClientTests.cs
  test/Altinn.App.Core.Tests/Features/Notifications/Sms/SmsNotificationClientTests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/KeyVault/SecretsLocalClientTests.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1435 Make ValidationSource virtual in GenericFormDataValidator
  src/Altinn.App.Core/Features/IDataElementValidator.cs
  src/Altinn.App.Core/Features/IFormDataValidator.cs
  src/Altinn.App.Core/Features/ITaskValidator.cs
  src/Altinn.App.Core/Features/Validation/GenericFormDataValidator.cs
  src/Altinn.App.Core/Features/Validation/Wrappers/DataElementValidatorWrapper.cs
  src/Altinn.App.Core/Features/Validation/Wrappers/FormDataValidatorWrapper.cs
  src/Altinn.App.Core/Features/Validation/Wrappers/TaskValidatorWrapper.cs
  test/Altinn.App.Api.Tests/Controllers/DataController_PatchTests.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateController_ValidateInstanceTests.cs
  test/Altinn.App.Api.Tests/Helpers/Patch/PatchServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/GenericValidatorTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/LegacyValidationServiceTests/ValidationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/ValidationServiceTests.cs
  test/Altinn.App.Core.Tests/PublicApiTests.PublicApi_ShouldNotChange_Unintentionally.verified.txt
Labels: bugfix, backport
