Repository Altinn/app-lib-dotnet, pull requests merged in 2025-06, with the labels that each got.

#1332 TelemetrySink refactoring
  test/Altinn.App.Api.Tests/Controllers/DataControllerPatchTests.InvalidTestValue_ReturnsConflict.verified.txt
  test/Altinn.App.Api.Tests/Controllers/DataController_PatchTests.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstanceTests.PostNewInstance_Simplified_SelfIdentifiedUser.verified.txt
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstanceTests.PostNewInstance_Simplified_ServiceOwner.verified.txt
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstanceTests.PostNewInstance_Simplified_SystemUser.verified.txt
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstanceTests.PostNewInstance_Simplified_User.verified.txt
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstanceTests.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_FailingValidator_Reject_ReturnsOk.verified.txt
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_FailingValidator_ReturnsValidationErrors.verified.txt
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_PdfFails_DataIsUnlocked.verified.txt
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.cs
  test/Altinn.App.Api.Tests/CustomWebApplicationFactory.cs
  test/Altinn.App.Api.Tests/Middleware/TelemetryEnrichingMiddlewareTests.Should_Always_Be_A_Root_Trace.verified.txt
  test/Altinn.App.Api.Tests/Middleware/TelemetryEnrichingMiddlewareTests.Should_Always_Be_A_Root_Trace_Unless_Pdf.verified.txt
  test/Altinn.App.Api.Tests/Middleware/TelemetryEnrichingMiddlewareTests.Should_Have_Root_AspNetCore_Trace_Org.verified.txt
  test/Altinn.App.Api.Tests/Middleware/TelemetryEnrichingMiddlewareTests.Should_Have_Root_AspNetCore_Trace_User.verified.txt
  test/Altinn.App.Api.Tests/Middleware/TelemetryEnrichingMiddlewareTests.cs
  test/Altinn.App.Tests.Common/Altinn.App.Tests.Common.csproj
  test/Altinn.App.Tests.Common/TelemetrySink.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1319 Add test for parsing virksomhetsbruker token
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=Org_Vwzj.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1331 Minor telemetry improvements
  src/Altinn.App.Core/Features/Maskinporten/MaskinportenClient.cs
  src/Altinn.App.Core/Features/Telemetry/Telemetry.DataClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Storage/DataClient.cs
Labels: other, backport-ignore

#1338 move ct to useractioncontext
  src/Altinn.App.Api/Controllers/ActionsController.cs
  src/Altinn.App.Core/Features/Action/PaymentUserAction.cs
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/IUserAction.cs
  src/Altinn.App.Core/Internal/Process/ProcessEngine.cs
  src/Altinn.App.Core/Models/UserAction/UserActionContext.cs
  test/Altinn.App.Api.Tests/Controllers/ActionsControllerTests.cs
  test/Altinn.App.Core.Tests/Features/Action/PaymentUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Action/UserActionServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.cs
Labels: kind/bug, breaking-change, kind/chore, backport-ignore

#1340 Update signing adrs, add config adr
  doc/adr/001-signing-interface.md
  doc/adr/002-signing-transaction-handling.md
  doc/adr/003-signing-configuration.md
Labels: ignore-for-release, kind/chore, backport-ignore

#1346 update version
  Directory.Packages.props
  benchmark/Altinn.App.Benchmarks/Altinn.App.Benchmarks.csproj
  test/Altinn.App.Analyzers.Tests/Altinn.App.Analyzers.Tests.csproj
Labels: dependency, kind/chore, backport-ignore

#1344 ADR - Configuration of correspondence resource for signing tasks - Environment-specific configuration
  doc/adr/005-environment-specific-config.md
Labels: ignore-for-release, kind/chore, backport-ignore

#1345 Add reminder notification config, update correspondence contract
  src/Altinn.App.Core/Extensions/MultipartContentExtensions.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/BuilderUtils.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/CorrespondenceNotificationBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/CorrespondenceNotificationOverrideBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/ICorrespondenceNotificationBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/ICorrespondenceNotificationOverrideBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceNotification.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceNotificationRecipient.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceNotificationRecipientWrapper.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceRequest.cs
  src/Altinn.App.Core/Features/Signing/Helpers/SigningNotificationHelper.cs
  src/Altinn.App.Core/Features/Signing/Helpers/SigningTextHelper.cs
  src/Altinn.App.Core/Features/Signing/ISigneeProvider.cs
  src/Altinn.App.Core/Features/Signing/Models/ContentWrapper.cs
  src/Altinn.App.Core/Features/Signing/Models/DefaultTexts.cs
  src/Altinn.App.Core/Features/Signing/NotificationChoice.cs
  src/Altinn.App.Core/Features/Signing/ProvidedSignee.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/SigneeCommunication.cs
  test/Altinn.App.Core.Tests/Extensions/MultipartContentExtensionsTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Builder/BuilderUtilsTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Builder/CorrespondenceBuilderTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Builder/CorrespondenceNotificationOverrideBuilderTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Builder/CorrespondenceNotificationOverrideBuilderTests_Obsolete.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Models/CorrespondenceRequestTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Models/CorrespondenceRequestTests_Obsolete.cs
  test/Altinn.App.Core.Tests/Features/Signing/Helpers/SigningNotificationHelpers.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
Labels: feature, backport-ignore

#1366 Initialize Claude Code and add one command
  .claude/commands/fix-github-issue.md
  CLAUDE.md
Labels: ignore-for-release, backport-ignore

#1358 Feature/binary data copy 1305
  Directory.Packages.props
  src/Altinn.App.Api/Controllers/InstancesController.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_CopyInstanceTests.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveCustomOpenApiSpec.verified.json
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
Labels: bugfix, backport
