Repository Altinn/app-lib-dotnet, pull requests merged in 2025-05, with the labels that each got.

#1287 Update csharpier to 1.0
  .config/dotnet-tools.json
  .csharpierignore
  .csharpierrc.yaml
  .github/workflows/dotnet-format.yml
  Directory.Packages.props
  src/Altinn.App.Core/Models/Layout/Components/SubFormComponent.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateControllerValidateDataTests.cs
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/CorrespondenceClientTests.cs
  test/Altinn.App.Core.Tests/Features/ExternalApi/ExternalApiServiceTest.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/TestHelpers.cs
  test/Altinn.App.Core.Tests/Features/Payment/PaymentServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Payment/Providers/Nets/NetsPaymentProcessorTests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Storage/DataClientTests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Storage/SignClientTests.cs
  test/Altinn.App.Core.Tests/Internal/Data/DataServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/EventHandlers/ProcessTask/EndTaskEventHandlerTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessNavigatorTests.cs
  test/Altinn.App.Core.Tests/Internal/Texts/TranslationServiceTests.cs
  test/Altinn.App.Tests.Common/FakeLoggerXunit.cs
Labels: kind/chore, other, backport-ignore

#1286 Cancellation token for signing
  src/Altinn.App.Api/Controllers/ActionsController.cs
  src/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Core/Features/Action/PaymentUserAction.cs
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/IUserAction.cs
  src/Altinn.App.Core/Features/Signing/Services/ISignDocumentManager.cs
  src/Altinn.App.Core/Features/Signing/Services/ISigneeContextsManager.cs
  src/Altinn.App.Core/Features/Signing/Services/ISigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Services/ISigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/Services/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/Services/SignDocumentManager.cs
  src/Altinn.App.Core/Features/Signing/Services/SigneeContextsManager.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningService.cs
  src/Altinn.App.Core/Features/Validation/Default/SigningTaskValidator.cs
  src/Altinn.App.Core/Internal/Pdf/IPdfService.cs
  src/Altinn.App.Core/Internal/Process/Interfaces/IProcessEngine.cs
  src/Altinn.App.Core/Internal/Process/ProcessEngine.cs
  test/Altinn.App.Api.Tests/Controllers/ActionsControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Core.Tests/Features/Action/PaymentUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Action/UserActionServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SignDocumentManagerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigneeContextsManagerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningReceiptServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/SigningTaskValidatorTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.cs
Labels: ignore-for-release, feature, backport-ignore

#1290 Feature/signee provider adjustments
  src/Altinn.App.Core/Features/Signing/ISigneeProvider.cs
  src/Altinn.App.Core/Features/Signing/Services/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigneeContextsManager.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningService.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigneeContextsManagerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/SigningProcessTaskTests.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1292 $InstanceUrl -> $instanceUrl$
  src/Altinn.App.Core/Features/Signing/ISigneeProvider.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningCallToActionService.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1293 update storage interface to 4.0.10
  Directory.Packages.props
  src/Altinn.App.Core/Helpers/AllowedContributorsHelper.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveCustomOpenApiSpec.verified.json
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Core.Tests/Internal/App/AppMetadataTest.GetApplicationMetadata_deserialize_serialize_unmapped_properties.verified.txt
Labels: ignore-for-release, kind/chore, backport-ignore

#1297 The schema for GridCell accepts null, so backend must filter out nulls
  src/Altinn.App.Core/Models/Layout/Components/GridComponent.cs
Labels: bugfix, backport

#1299 Don't throw AuthenticationContextException in ProcessEngineAuthorizer.
  src/Altinn.App.Core/Internal/Process/ProcessEngineAuthorizer.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineAuthorizerTests.cs
Labels: bugfix, backport-ignore

#1302 Remove async suffix from ISigneeProvider.
  src/Altinn.App.Core/Features/Signing/ISigneeProvider.cs
  src/Altinn.App.Core/Features/Signing/Services/SigneeContextsManager.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigneeContextsManagerTests.cs
Labels: bugfix, backport-ignore

#1303 remove html tags from default message
  src/Altinn.App.Core/Features/Signing/Services/SigningCallToActionService.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
Labels: bugfix, backport-ignore

#1307 fix: outlook does not support <br/>
  src/Altinn.App.Core/Features/Signing/Services/SigningCallToActionService.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
Labels: kind/bug, bugfix, backport-ignore

#1309 Fix null pointer exception in obsolete single data element validation
  src/Altinn.App.Api/Controllers/ValidateController.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateControllerValidateDataTests.cs
Labels: bugfix, backport

#1313 ITranslationService don't throw on missing text resource
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Core/Internal/Texts/ITranslationService.cs
  src/Altinn.App.Core/Internal/Texts/TranslationService.cs
  src/Altinn.App.Core/Internal/Validation/ValidationService.cs
  test/Altinn.App.Core.Tests/Internal/Texts/TranslationServiceTests.cs
Labels: bugfix, backport-ignore

#1310 Make expression engine work with explicit dataType in subform
  src/Altinn.App.Core/Helpers/DataModel/DataModel.cs
  src/Altinn.App.Core/Models/DataElementIdentifier.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RemoveHiddenData/RemoveHiddenDataTests.TestRemoveHiddenData.verified.txt
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RepeatingGroupsHidden/RepeatingGroupsHidden.Test_Hidden_Multiple_Groups_hidePage1=False_hidePage2=False.verified.txt
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RepeatingGroupsHidden/RepeatingGroupsHidden.Test_Hidden_Multiple_Groups_hidePage1=False_hidePage2=True.verified.txt
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RepeatingGroupsHidden/RepeatingGroupsHidden.Test_Hidden_Multiple_Groups_hidePage1=True_hidePage2=False.verified.txt
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/RepeatingGroupsHidden/RepeatingGroupsHidden.Test_Hidden_Multiple_Groups_hidePage1=True_hidePage2=True.verified.txt
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/SubForm/SubFormTests.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/TestUtilities/InstanceDataAccessorFake.cs
Labels: bugfix, backport

#1321 check for resource before attempting to send correspondence
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Action/TestData/signing-task-missing-correspondence.bpmn
Labels: bugfix, area/signing, backport-ignore

#1325 Remove servers property from custom open API operation
  src/Altinn.App.Api/Controllers/CustomOpenApiController.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveCustomOpenApiSpec.verified.json
Labels: kind/bug, bugfix, backport-ignore

#1323 Testing and metrics, signingservice
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningService.cs
  src/Altinn.App.Core/Features/Telemetry/Signing/Telemetry.SigningService.cs
  src/Altinn.App.Core/Internal/AltinnCdn/AltinnCdnClient.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningReceiptServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/AltinnCdn/AltinnCdnClientTest.cs
Labels: kind/chore, other, backport-ignore

#1326 Add ID-porten/Maskinporten ClientID to `Authenticated`
  src/Altinn.App.Core/Features/Auth/Authenticated.cs
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=Org_yeqB.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=ServiceOwner_IrMn.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=ServiceOwner_eWOI.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=SystemUser_8nGc.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=SystemUser_EvgU.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=SystemUser_Gxg0.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=SystemUser_U6aZ.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=User_fOrK.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=User_sUK3.verified.txt
Labels: feature, backport-ignore
