Repository Altinn/app-lib-dotnet, pull requests merged in 2025-03, with the labels that each got.

#1152 add tests to urlhelper for access management
  test/Altinn.App.Core.Tests/Internal/AccessManagement/UrlHelperTests.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1153 Make a InstanceDataUnitOfWorkInitalizer instead of injection all dependencies everywhere we need one
  src/Altinn.App.Api/Controllers/ActionsController.cs
  src/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.App.Api/Controllers/ValidateController.cs
  src/Altinn.App.Api/Helpers/Patch/InternalPatchService.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/IInstanceDataAccessor.cs
  src/Altinn.App.Core/Internal/Data/DataElementCache.cs
  src/Altinn.App.Core/Internal/Data/InstanceDataUnitOfWork.cs
  src/Altinn.App.Core/Internal/Data/InstanceDataUnitOfWorkInitializer.cs
  src/Altinn.App.Core/Internal/Expressions/LayoutEvaluatorState.cs
  src/Altinn.App.Core/Internal/Process/ProcessEngine.cs
  src/Altinn.App.Core/Internal/Process/ProcessNavigator.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/Common/ProcessTaskFinalizer.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesControllerFixture.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/ValidateControllerValidateDataTests.cs
  test/Altinn.App.Api.Tests/Helpers/Patch/PatchServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/LegacyValidationServiceTests/ValidationServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ExpressionsExclusiveGatewayTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessNavigatorTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/Common/ProcessTaskFinalizerTests.cs
Labels: ignore-for-release, backport-ignore

#1150 Remove use of 'dynamic' in ProcessTaskInitializer
  src/Altinn.App.Core/Internal/Process/ProcessTasks/Common/ProcessTaskInitializer.cs
Labels: ignore-for-release, backport-ignore

#1142 Legacy implementation of `IMaskinportenTokenProvider`
  src/Altinn.App.Core/Features/Maskinporten/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Maskinporten/LegacyMaskinportenTokenProvider.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/LegacyMaskinportenTokenProviderTest.cs
  test/Altinn.App.Core.Tests/Features/Maskinporten/MaskinportenClientTest.cs
Labels: feature, backport-ignore

#1158 Allow self identified and system user in action controller
  src/Altinn.App.Api/Controllers/ActionsController.cs
  src/Altinn.App.Core/Features/Action/UniqueSignatureAuthorizer.cs
Labels: bugfix, backport

#1140 Add IProcessEnd interface
  src/Altinn.App.Core/Features/IProcessEnd.cs
  src/Altinn.App.Core/Features/Telemetry/Telemetry.Processes.cs
  src/Altinn.App.Core/Internal/Process/ProcessEngine.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.Telemetry.IProcessEnd_not_registered.json.verified.txt
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.Telemetry.IProcessEnd_registered.json.verified.txt
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.cs
Labels: feature, backport-ignore

#1160 Adjust custom notification with correspondence
  src/Altinn.App.Core/Features/Correspondence/Builder/CorrespondenceNotificationBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/CorrespondenceNotificationOverrideBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/ICorrespondenceNotificationOverrideBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceNotification.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceNotificationRecipient.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceNotificationRecipientWrapper.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceRequest.cs
  src/Altinn.App.Core/Features/Signing/Helpers/SigningCorrespondanceHelper.cs
  src/Altinn.App.Core/Features/Signing/SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/SigningReceiptService.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Builder/CorrespondenceBuilderTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Models/CorrespondenceRequestTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/Helpers/SigningCorrespondenceHelperTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
Labels: feature, area/signing, backport-ignore

#1172 moves sign action back to SigningUserAction and reimplement tests
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.cs
Labels: other, backport-ignore

#1174 Internal signing controller
  src/Altinn.App.Api/Controllers/Providers/InternalControllerFeatureProvider.cs
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Api/Extensions/ServiceCollectionExtensions.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.cs
Labels: other, backport-ignore

#1168 Improve token generation and test parameterization for TestAuthentication
  src/Altinn.App.Core/Configuration/GeneralSettings.cs
  src/Altinn.App.Core/Features/Auth/Authenticated.cs
  src/Altinn.App.Core/Features/Auth/AuthenticationContext.cs
  test/Altinn.App.Api.Tests/Helpers/DataElementAccessCheckerTests.cs
  test/Altinn.App.Api.Tests/Mocks/JwtTokenMock.cs
  test/Altinn.App.Api.Tests/Program.cs
  test/Altinn.App.Api.Tests/Utils/TestAuthentication.cs
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Action/UniqueSignatureAuthorizerTests.cs
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticationInfoTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineTest.cs
Labels: ignore-for-release, kind/chore, backport

#1179 Disable OTel exporter during tests
  src/Altinn.App.Api/Extensions/ServiceCollectionExtensions.cs
  test/Altinn.App.Api.Tests/Program.cs
  test/Altinn.App.Api.Tests/TestUtils/AppBuilder.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1183 Ignore 'Info.Version' in custom OpenAPI doc snapshot test
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Api/Controllers/CustomOpenApiController.cs
  test/Altinn.App.Api.Tests/Altinn.App.Api.Tests.csproj
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveCustomOpenApiSpec.verified.json
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1176 Internal signing classes
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeContext.cs
Labels: other, backport-ignore

#1185 Fix profile client body structure
  src/Altinn.App.Core/Infrastructure/Clients/Profile/ProfileClient.cs
Labels: bugfix, backport-ignore

#1068 Feat/265 url param instantiation
  src/Altinn.App.Api/Controllers/HomeController.cs
  src/Altinn.App.Api/Controllers/StatelessDataController.cs
  src/Altinn.App.Core/Features/IValidateQueryParamPrefill.cs
  src/Altinn.App.Core/Implementation/PrefillSI.cs
  test/Altinn.App.Api.Tests/Controllers/HomeControllerTest_SetQueryParams.Ensure_ok_request_when_query_params_are_valid.verified.txt
  test/Altinn.App.Api.Tests/Controllers/HomeControllerTest_SetQueryParams.Ensure_only_one_content_security_policy.verified.txt
  test/Altinn.App.Api.Tests/Controllers/HomeControllerTest_SetQueryParams.ReturnsMappedModelWhenValidationSucceds.verified.txt
  test/Altinn.App.Api.Tests/Controllers/HomeControllerTest_SetQueryParams.SetQueryParms_ReturnBadRequestWhenValidationFails.verified.txt
  test/Altinn.App.Api.Tests/Controllers/HomeControllerTest_SetQueryParams.cs
  test/Altinn.App.Api.Tests/Controllers/StatelessDataControllerTests.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
Labels: feature, backport-ignore

#1161 Authorize process next as 'sign' when the process task type is signing
  src/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Validation/Default/SigningTaskValidator.cs
  src/Altinn.App.Core/Helpers/LogSanitizer.cs
  src/Altinn.App.Core/Internal/Process/Interfaces/IProcessEngineAuthorizer.cs
  src/Altinn.App.Core/Internal/Process/ProcessEngineAuthorizer.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_FailingValidator_ReturnsValidationErrors.verified.txt
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_PdfFails_DataIsUnlocked.verified.txt
  test/Altinn.App.Core.Tests/Helpers/LogSanitizerTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineAuthorizerTests.cs
Labels: bugfix, backport-ignore

#1188 Support systemuser tokens when using Localtest
  src/Altinn.App.Core/Features/Auth/Authenticated.cs
Labels: kind/feature-request, feature, backport-ignore

#1196 Make sure 'IsValidContributor' is correct according to docs - only service owners are 'validContributors'
  src/Altinn.App.Api/Helpers/DataElementAccessChecker.cs
  test/Altinn.App.Api.Tests/Helpers/DataElementAccessCheckerTests.cs
Labels: kind/bug, bugfix, backport-ignore

#1198 Filtering app text files
  src/Altinn.App.Core/Internal/Language/ApplicationLanguage.cs
Labels: bugfix, backport

#1195 Chore/ AltinnPartyClient: Use IUserTokenProvider instead of jwtutils directly
  src/Altinn.App.Core/Infrastructure/Clients/Register/AltinnPartyClient.cs
Labels: other, backport

#1200 Fix flakyness in tests using 'TestAuthentication.AllTokens'
  test/Altinn.App.Api.Tests/Program.cs
  test/Altinn.App.Api.Tests/Utils/TestAuthentication.cs
Labels: kind/chore, other, backport-ignore

#1197 Autoverify snapshots to simplify workflow
  test/Altinn.App.Api.Tests/ModuleInitializer.cs
  test/Altinn.App.Common.Tests/ModuleInitializer.cs
  test/Altinn.App.Core.Tests/ModuleInitializer.cs
Labels: kind/chore, other, backport-ignore

#1202 Syncing shared expression-validation tests with frontend
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/shared/nested-repeating.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/shared/repeating-direct.json
  test/Altinn.App.Core.Tests/Features/Validators/expression-validation-tests/shared/repeating.json
Labels: ignore-for-release, backport-ignore

#1204 Support tokens from Altinn Test Tools in `IAuthenticationContext`/`Authenticated` and correctly set `InAltinnPortal` for localtest tokens
  src/Altinn.App.Core/Features/Auth/Authenticated.cs
  src/Altinn.App.Core/Features/Auth/AuthenticationContext.cs
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=Org_yeqB.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=SelfIdentifiedUser_ffv+.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=ServiceOwner_AmaP.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=ServiceOwner_IrMn.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=ServiceOwner_eWOI.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=SystemUser_8nGc.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=SystemUser_EvgU.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=SystemUser_Gxg0.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=SystemUser_U6aZ.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=User_T1OG.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=User_csSy.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=User_fOrK.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_type=User_sUK3.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.cs
Labels: bugfix, backport-ignore

#1209 Make sure localtest 'isAuthenticated' argument is set correctly in 'AuthenticationContext'
  src/Altinn.App.Core/Features/Auth/AuthenticationContext.cs
Labels: bugfix, backport-ignore

#1214 Treating null as empty string in `stringReplace`
  src/Altinn.App.Core/Internal/Expressions/ExpressionEvaluator.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/stringReplace/replace-with-null.json
Labels: bugfix, backport

#1208 Process next: Use AuthorizeAction multiple times instead of AuthorizeActions
  src/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.App.Core/Internal/Process/ProcessEngineAuthorizer.cs
  src/Altinn.App.Core/Internal/Process/ProcessSequenceFlowType.cs
  src/Altinn.App.Core/Models/AppIdentifier.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_FailingValidator_ReturnsValidationErrors.verified.txt
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_PdfFails_DataIsUnlocked.verified.txt
  test/Altinn.App.Core.Tests/Internal/Process/ProcessEngineAuthorizerTests.cs
Labels: feature, backport-ignore

#1194 Feature/signing roles
  src/Altinn.App.Api/Controllers/ActionsController.cs
  src/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Api/Models/ProcessNext.cs
  src/Altinn.App.Api/Models/SigningAuthorizedOrganisationsResponse.cs
  src/Altinn.App.Api/Models/UserActionRequest.cs
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  src/Altinn.App.Core/Features/Telemetry/Telemetry.Authorization.Client.cs
  src/Altinn.App.Core/Infrastructure/Clients/Authorization/AuthorizationClient.cs
  src/Altinn.App.Core/Internal/Auth/IAuthorizationClient.cs
  src/Altinn.App.Core/Internal/Process/ProcessEngine.cs
  src/Altinn.App.Core/Models/Process/ProcessNextRequest.cs
  src/Altinn.App.Core/Models/UserAction/UserActionContext.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Api.Tests/Mocks/AuthorizationMock.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveCustomOpenApiSpec.verified.json
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
Labels: feature, area/signing, backport-ignore

#1190 Set Cache-Control: no-store header in middleware
  src/Altinn.App.Api/Controllers/ActionsController.cs
  src/Altinn.App.Api/Controllers/ApplicationMetadataController.cs
  src/Altinn.App.Api/Controllers/AuthorizationController.cs
  src/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.App.Api/Controllers/DataTagsController.cs
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Controllers/LookupOrganisationController.cs
  src/Altinn.App.Api/Controllers/LookupPersonController.cs
  src/Altinn.App.Api/Controllers/PaymentController.cs
  src/Altinn.App.Api/Controllers/ProfileController.cs
  src/Altinn.App.Api/Controllers/StatelessDataController.cs
  src/Altinn.App.Api/Controllers/UserDefinedMetadataController.cs
  src/Altinn.App.Api/Infrastructure/Middleware/SecurityHeadersMiddleware.cs
  test/Altinn.App.Api.Tests/Controllers/ActionsControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/ApplicationMetadataControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/HomeControllerTest_SetQueryParams.ReturnsMappedModelWhenValidationSucceds.verified.txt
  test/Altinn.App.Api.Tests/Controllers/HomeControllerTest_SetQueryParams.SetQueryParms_ReturnBadRequestWhenValidationFails.verified.txt
Labels: other, backport-ignore

#1219 Fix broken build
  test/Altinn.App.Api.Tests/Altinn.App.Api.Tests.csproj
  test/Altinn.App.Api.Tests/ModuleInitializer.cs
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
  test/Altinn.App.Core.Tests/ModuleInitializer.cs
  test/Altinn.App.Tests.Common/Altinn.App.Tests.Common.csproj
  test/Directory.Build.props
Labels: ignore-for-release, backport-ignore

#1220 Fix content include for testdata files in Altinn.App.Core.Tests which made build buggy
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
Labels: ignore-for-release, backport-ignore

#1218 Update nuget depencencies
  global.json
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Api/Controllers/CustomOpenApiController.cs
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Internal.Analyzers/Altinn.App.Internal.Analyzers.csproj
  test/Altinn.App.Api.Tests/Altinn.App.Api.Tests.csproj
  test/Altinn.App.Api.Tests/Data/TestData.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveCustomOpenApiSpec.verified.json
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Api.Tests/Telemetry/TelemetryConfigurationTests.cs
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
  test/Altinn.App.Core.Tests/Internal/App/AppMetadataTest.GetApplicationMetadata_deserialize_serialize_unmapped_properties.verified.txt
  test/Altinn.App.Tests.Common/Altinn.App.Tests.Common.csproj
Labels: dependency, backport

#1224 Revert frozen dependency upgrade
  src/Altinn.App.Core/Altinn.App.Core.csproj
Labels: dependency, backport

#1207 More shared expression tests, syncing with frontend
  src/Altinn.App.Core/Internal/Expressions/ExpressionEvaluator.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/find-first-row.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/find-grouped-sibling.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/find-hidden-sibling-in-other-repeating-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/find-hidden-unrelated-sibling-in-other-repeating-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/find-sibling-in-other-repeating-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/find-unrelated-sibling-in-other-repeating-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-hidden-row.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/with-component-index.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/in-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/with-indexes-without-layout.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/dataModel/with-indexes.json
Labels: ignore-for-release, backport-ignore
