Repository Altinn/app-lib-dotnet, pull requests merged in 2025-04, with the labels that each got.

#1229 Add party object to instance owner in APIs returning instance
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Models/InstanceResponse.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesControllerFixture.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_GetTests.ReturnsOkResult_Deserialized.verified.txt
  test/Altinn.App.Api.Tests/Controllers/InstancesController_GetTests.ReturnsOkResult_Raw.verified.txt
  test/Altinn.App.Api.Tests/Controllers/InstancesController_GetTests.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_PostNewInstanceTests.cs
  test/Altinn.App.Api.Tests/CustomWebApplicationFactory.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
Labels: kind/feature-request, feature, backport-ignore

#1230 DTO/response object for party information on `InstanceResponse`
  src/Altinn.App.Api/Models/InstanceResponse.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesController_GetTests.ReturnsOkResult_Deserialized.verified.txt
  test/Altinn.App.Api.Tests/Controllers/InstancesController_GetTests.ReturnsOkResult_Raw.verified.txt
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
Labels: ignore-for-release, backport-ignore

#1235 persist correspondence id in signeestate
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeState.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1234 Improve internal analyzer regarding `AppImplementationFactory`
  src/Altinn.App.Internal.Analyzers/AnalyzerReleases.Unshipped.md
  src/Altinn.App.Internal.Analyzers/AppImplementationInjectionAnalyzer.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1083 Update CorrespondenceClient with API changes
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/Extensions/NationalIdentityNumberExtensions.cs
  src/Altinn.App.Core/Extensions/OrganisationNumberExtensions.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/CorrespondenceAttachmentBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/CorrespondenceNotificationOverrideBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/CorrespondenceRequestBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/ICorrespondenceAttachmentBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/ICorrespondenceNotificationOverrideBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/ICorrespondenceRequestBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/CorrespondenceClient.cs
  src/Altinn.App.Core/Features/Correspondence/Extensions/OrganisationNumberExtensions.cs
  src/Altinn.App.Core/Features/Correspondence/ICorrespondenceClient.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceAttachment.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceNotificationRecipient.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceNotificationRecipientWrapper.cs
  src/Altinn.App.Core/Features/Correspondence/Models/CorrespondenceRequest.cs
  src/Altinn.App.Core/Features/Correspondence/Models/OrganisationOrPersonIdentifier.cs
  src/Altinn.App.Core/Features/Correspondence/Models/Response/CorrespondenceAttachmentResponse.cs
  src/Altinn.App.Core/Features/Correspondence/Models/Response/CorrespondenceDetailsResponse.cs
  src/Altinn.App.Core/Features/Correspondence/Models/Response/GetCorrespondenceStatusResponse.cs
  src/Altinn.App.Core/Features/Correspondence/Models/Response/SendCorrespondenceResponse.cs
  src/Altinn.App.Core/Features/Signing/Models/CorrespondanceRecipient.cs
  src/Altinn.App.Core/Features/Signing/SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/SigningReceiptService.cs
  src/Altinn.App.Core/Models/OrganisationNumber.cs
  src/Altinn.App.Core/Models/OrganisationOrPersonIdentifier.cs
  src/Altinn.App.Core/Models/OrganisationOrPersonIdentifierJsonConverter.cs
  src/Altinn.App.Core/Models/Validation/ValidationIssue.cs
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
  test/Altinn.App.Core.Tests/Extensions/NationalIdentityNumberExtensionsTest.cs
  test/Altinn.App.Core.Tests/Extensions/OrganisationNumberExtensionsTest.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Builder/CorrespondenceBuilderTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/CorrespondenceClientTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Models/CorrespondenceRequestTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/Models/CorrespondenceResponseTests.cs
  test/Altinn.App.Core.Tests/Features/Correspondence/TestHelpers.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningReceiptServiceTests.cs
  test/Altinn.App.Core.Tests/Models/NationalIdentityNumberTests.cs
  test/Altinn.App.Core.Tests/Models/OrganisationNumberTests.cs
  test/Altinn.App.Tests.Common/IdentificationNumberProvider.cs
Labels: feature, backport-ignore

#1247 Preserve empty issue list from validation on UserActions
  src/Altinn.App.Api/Controllers/ActionsController.cs
  test/Altinn.App.Api.Tests/Controllers/ActionsControllerTests.cs
Labels: bugfix, backport

#1226 Translate CustomTextKey to fill description/message in validation responses
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Internal/Texts/ITranslationService.cs
  src/Altinn.App.Core/Internal/Texts/TranslationService.cs
  src/Altinn.App.Core/Internal/Validation/ValidationService.cs
  src/Altinn.App.Core/Models/Validation/InstantiationValidationResult.cs
  test/Altinn.App.Api.Tests/Controllers/InstancesControllerFixture.cs
  test/Altinn.App.Api.Tests/Helpers/Patch/PatchServiceTests.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Core.Tests/Features/Validators/LegacyValidationServiceTests/ValidationServiceOldTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/LegacyValidationServiceTests/ValidationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/ValidationServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Texts/TranslationServiceTests.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/SubForm/SubFormTests.cs
Labels: feature, backport-ignore

#1240 [Signing] Renaming and internal namespace for internal classes
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Api/Models/SigningAuthorizedOrganisationsResponse.cs
  src/Altinn.App.Api/Models/SigningStateResponse.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigneeProvider.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/Mocks/AltinnCorrespondence.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/ContentWrapper.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/DefaultTexts.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/SigneeContext.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/SigneeContextState.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeProviderResult.cs
  src/Altinn.App.Core/Features/Signing/SigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/SigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/Delegation/SigningDelegationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningReceiptServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/SigningTaskValidatorTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/SigningProcessTaskTests.cs
Labels: other, backport-ignore

#1246 [Signing] Creates SigneeContextsManager and adds tests
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigneeContextsManager.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/SigneeContext.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/SigneeContextsManager.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/SigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/SigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/SigningService.cs
  src/Altinn.App.Core/Features/Validation/Default/SigningTaskValidator.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/Delegation/SigningDelegationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigneeContextsManagerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/SigningTaskValidatorTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/SigningProcessTaskTests.cs
Labels: other, backport-ignore

#1249 [Signing] Create SignDocumentManager and tests
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISignDocumentManager.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/SignDocumentManager.cs
  src/Altinn.App.Core/Features/Signing/Models/Internal/SigningService.cs
  src/Altinn.App.Core/Features/Telemetry/Telemetry.SigningService.cs
  test/Altinn.App.Core.Tests/Features/Signing/SignDocumentManagerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
Labels: other, backport-ignore

#1250 [Signing] Fix validator getting wrong contexts
  src/Altinn.App.Core/Features/Validation/Default/SigningTaskValidator.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/SigningTaskValidatorTests.cs
Labels: bugfix, backport-ignore

#1222 Use [CallerFilePath] instead of <Content Include in tests
  test/Altinn.App.Api.Tests/Altinn.App.Api.Tests.csproj
  test/Altinn.App.Api.Tests/Mocks/Authentication/ConfigurationManagerStub.cs
  test/Altinn.App.Api.Tests/Mocks/Authentication/ISigningKeysRetriever.cs
  test/Altinn.App.Api.Tests/Mocks/Authentication/SigningKeysRetrieverStub.cs
  test/Altinn.App.Api.Tests/Program.cs
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
  test/Altinn.App.Core.Tests/Features/Action/UniqueSignatureAuthorizerTests.cs
  test/Altinn.App.Core.Tests/Helpers/EmbeddedResource.cs
  test/Altinn.App.Core.Tests/Helpers/MultiDecisionHelper/MultiDecisionHelperTests.cs
  test/Altinn.App.Core.Tests/Implementation/AppResourcesSITests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Authorization/AuthorizationClientTests.cs
  test/Altinn.App.Core.Tests/Internal/App/AppMetadataTest.cs
  test/Altinn.App.Core.Tests/Internal/Pdf/PdfServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/TestUtils/ProcessTestUtils.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestBackendExclusiveFunctions.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestContextList.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/TestFunctions.cs
  test/Altinn.App.Core.Tests/LayoutExpressions/FullTests/LayoutTestUtils.cs
  test/Altinn.App.Core.Tests/TestUtils/PathUtils.cs
  test/Altinn.App.Tests.Common/Altinn.App.Tests.Common.csproj
  test/Altinn.App.Tests.Common/Auth/JwtTokenMock.cs
  test/Altinn.App.Tests.Common/TestResources/Altinn.App.Api.xml
  test/Altinn.App.Tests.Common/TestResources/Altinn.App.SourceGenerator.Tests.xml
Labels: ignore-for-release, backport-ignore

#1259 Feature/signing refactoring moving some code
  src/Altinn.App.Api/Controllers/Providers/InternalControllerFeatureProvider.cs
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Api/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Api/Models/SigningStateResponse.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Enums/NotificationChoice.cs
  src/Altinn.App.Core/Features/Signing/Exceptions/SignaturePartyNotValidException.cs
  src/Altinn.App.Core/Features/Signing/Helpers/SigningCorrespondanceHelper.cs
  src/Altinn.App.Core/Features/Signing/ISigneeProvider.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigneeProvider.cs
  src/Altinn.App.Core/Features/Signing/Mocks/AltinnCorrespondence.cs
  src/Altinn.App.Core/Features/Signing/Models/ContentWrapper.cs
  src/Altinn.App.Core/Features/Signing/Models/DefaultTexts.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeContext.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeContextState.cs
  src/Altinn.App.Core/Features/Signing/Services/ISignDocumentManager.cs
  src/Altinn.App.Core/Features/Signing/Services/ISigneeContextsManager.cs
  src/Altinn.App.Core/Features/Signing/Services/ISigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Services/ISigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/Services/ISigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/Services/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/Services/SignDocumentManager.cs
  src/Altinn.App.Core/Features/Signing/Services/SigneeContextsManager.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningService.cs
  src/Altinn.App.Core/Features/Validation/Default/SigningTaskValidator.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/Helpers/SigningCorrespondenceHelperTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SignDocumentManagerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigneeContextsManagerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningDelegationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningReceiptServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/SigningTaskValidatorTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/SigningProcessTaskTests.cs
Labels: ignore-for-release, kind/chore, area/signing, backport-ignore

#1260 Add disclaimer to openApi document
  src/Altinn.App.Api/Controllers/CustomOpenApiController.cs
  src/Altinn.App.Api/Extensions/SwaggerFilterExtensions.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveCustomOpenApiSpec.verified.json
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
Labels: kind/chore, other, backport-ignore

#1271 Feature/signing mob feedback
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeContext.cs
  src/Altinn.App.Core/Features/Signing/Services/SignDocumentManager.cs
  src/Altinn.App.Core/Features/Validation/Default/SigningTaskValidator.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SignDocumentManagerTests.cs
Labels: ignore-for-release, backport-ignore

#1272 Use American spelling in signing
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Api/Models/SigningAuthorizedOrganisationsResponse.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningService.cs
  src/Altinn.App.Core/Infrastructure/Clients/Authorization/AuthorizationClient.cs
  src/Altinn.App.Core/Internal/Auth/IAuthorizationClient.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Api.Tests/Mocks/AuthorizationMock.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Core.Tests/Features/Signing/SigneeContextsManagerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningReceiptServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
Labels: other, backport-ignore

#1273 Rename provided signees
  src/Altinn.App.Core/Features/Signing/ISigneeProvider.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeContext.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigneeContextsManagerTests.cs
Labels: kind/chore, other, backport-ignore

#1262 Use central package management
  Directory.Build.props
  Directory.Packages.props
  benchmark/Altinn.App.Benchmarks/Altinn.App.Benchmarks.csproj
  src/Altinn.App.Analyzers/Altinn.App.Analyzers.csproj
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Internal.Analyzers/Altinn.App.Internal.Analyzers.csproj
  src/Directory.Build.props
  test/Altinn.App.Analyzers.Tests/Altinn.App.Analyzers.Tests.csproj
  test/Altinn.App.Api.Tests/Altinn.App.Api.Tests.csproj
  test/Altinn.App.Core.Tests/Altinn.App.Core.Tests.csproj
  test/Altinn.App.Tests.Common/Altinn.App.Tests.Common.csproj
  test/Dockerfile
Labels: other, backport-ignore

#1277 Handle possible nulls when reading `RequestServices` in `IdentityTelemetryFilter`
  src/Altinn.App.Api/Infrastructure/Telemetry/IdentityTelemetryFilter.cs
Labels: kind/chore, other, backport-ignore

#1274 update correspondance configuration for ISigneeProvider
  src/Altinn.App.Core/Features/Signing/ISigneeProvider.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeContext.cs
  src/Altinn.App.Core/Features/Signing/Services/ISigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Services/SignDocumentManager.cs
  src/Altinn.App.Core/Features/Signing/Services/SigneeContextsManager.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningService.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigneeContextsManagerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
Labels: kind/chore, area/signing, other, backport-ignore

#1276 Use translation service for correspondence
  src/Altinn.App.Core/Extensions/TextResourceExtensions.cs
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningReceiptService.cs
  src/Altinn.App.Core/Internal/Texts/ITranslationService.cs
  src/Altinn.App.Core/Internal/Texts/TranslationService.cs
  test/Altinn.App.Core.Tests/Extensions/TextResourceExtensionsTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningReceiptServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Texts/TranslationServiceTests.cs
Labels: ignore-for-release, kind/chore, other, backport-ignore

#1245 rm auth shortcut for on behalf of instance owner
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
Labels: ignore-for-release, kind/chore, backport-ignore

#1275 Add back some project references for JWTCookieAuthentication dependencies
  src/Altinn.App.Core/Altinn.App.Core.csproj
Labels: ignore-for-release, backport-ignore

#1278 Improve tests to not use greaterThanEq to compare where a failing lookup would make the test pass
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-group-with-hidden.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-group.json
  test/Altinn.App.Core.Tests/LayoutExpressions/CommonTests/shared-tests/functions/component/in-nested-group.json
Labels: ignore-for-release, backport-ignore

#1281 Update telemetry
  src/Altinn.App.Core/Features/Signing/Services/ISigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/Services/SignDocumentManager.cs
  src/Altinn.App.Core/Features/Signing/Services/SigneeContextsManager.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/Services/SigningService.cs
  src/Altinn.App.Core/Features/Telemetry/Signing/Telemetry.SignDocumentManager.cs
  src/Altinn.App.Core/Features/Telemetry/Signing/Telemetry.SigneeContextsManager.cs
  src/Altinn.App.Core/Features/Telemetry/Signing/Telemetry.SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Telemetry/Signing/Telemetry.SigningDelegationService.cs
  src/Altinn.App.Core/Features/Telemetry/Signing/Telemetry.SigningReceiptService.cs
  src/Altinn.App.Core/Features/Telemetry/Signing/Telemetry.SigningService.cs
  src/Altinn.App.Core/Features/Telemetry/Telemetry.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
Labels: ignore-for-release, kind/chore, other, backport-ignore
