Repository Altinn/app-lib-dotnet, pull requests merged in 2025-02, with the labels that each got.

#1085 delegate on behalf of io, org takes precedence
  src/Altinn.App.Core/Features/Action/InitializeDelegatedSigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/SigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  test/Altinn.App.Core.Tests/Features/Signing/Delegation/SigningDelegationServiceTests.cs
Labels: ignore-for-release, bugfix

#1074 Refactor app-settings-secret logic
  src/Altinn.App.Api/Extensions/HostBuilderExtensions.cs
  src/Altinn.App.Core/Extensions/ConfigurationBuilderExtensions.cs
  test/Altinn.App.Core.Tests/Extensions/ConfigurationBuilderExtensionsTest.cs
Labels: ignore-for-release

#1066 Signing on behalf of org and model changes
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Features/Action/InitializeDelegatedSigningUserAction.cs
  src/Altinn.App.Core/Features/Action/SigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigneeProvider.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningCorrespondenceService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningNotificationService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeContext.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeParty.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeState.cs
  src/Altinn.App.Core/Features/Signing/SigningCorrespondenceService.cs
  src/Altinn.App.Core/Features/Signing/SigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/SigningNotificationService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  test/Altinn.App.Core.Tests/Features/Action/SigningUserActionTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/Delegation/SigningDelegationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/Notifications/SigningNotificationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/SigningTaskValidatorTests.cs
Labels: feature

#1087 Special case localtest tokens for authentication parsing
  src/Altinn.App.Core/Features/Auth/Authenticated.cs
  src/Altinn.App.Core/Features/Auth/AuthenticationContext.cs
Labels: kind/bug, bugfix

#1089 Catch no partyuuid in signing access delegation
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/SigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
Labels: bugfix

#1090 Fixes signing notification status mapping
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Core/Features/Signing/SigningNotificationService.cs
Labels: bugfix

#1094 Adds authentication to UserContext in UserAction
  src/Altinn.App.Api/Controllers/ActionsController.cs
Labels: bugfix

#1093 Fixes get org number on sign
  src/Altinn.App.Core/Features/Signing/SigningService.cs
Labels: bugfix

#1104 Fix case where querying for roles for a user without any roles threw exception
  src/Altinn.App.Core/Infrastructure/Clients/Authorization/AuthorizationClient.cs
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_token=User_tokenType=Altinn_issuer=False_isExchanged=True.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.Can_Parse_Real_Tokens_token=User_tokenType=IDporten_issuer=True_isExchanged=True.verified.txt
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Authorization/AuthorizationClientTests.cs
Labels: bugfix

#1052 Delete old signee state in Start and Abandon.
  src/Altinn.App.Core/Features/Signing/Exceptions/SigningException.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  src/Altinn.App.Core/Features/Telemetry/Telemetry.SigningService.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/PaymentProcessTaskTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/SigningProcessTaskTests.cs
Labels: feature

#1106 Feature/signing refactor sign on behalf
  src/Altinn.App.Api/Altinn.App.Api.csproj
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Core/Altinn.App.Core.csproj
  src/Altinn.App.Core/Features/Auth/Authenticated.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeContext.cs
  src/Altinn.App.Core/Features/Signing/SigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.txt
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
  test/Altinn.App.Core.Tests/Features/Signing/Delegation/SigningDelegationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/Notifications/SigningNotificationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/SigningTaskValidatorTests.cs
  test/Altinn.App.Core.Tests/Internal/App/AppMetadataTest.GetApplicationMetadata_deserialize_serialize_unmapped_properties.verified.txt
Labels: feature

#1109 Feature/signing controller tests
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Api/Models/SingingStateResponse.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  test/Altinn.App.Api.Tests/Controllers/ExternalApiControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Api.Tests/Controllers/UserDefinedMetadataControllerTests.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.txt
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
Labels: other

#1120 Use StatusCode constants instead of casting HttpStatusCode enum to int
  src/Altinn.App.Api/Controllers/DataController.cs
  src/Altinn.App.Api/Controllers/ExternalApiController.cs
  src/Altinn.App.Api/Controllers/InstancesController.cs
  src/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.App.Api/Controllers/StatelessDataController.cs
  src/Altinn.App.Api/Helpers/DataElementAccessChecker.cs
  src/Altinn.App.Api/Helpers/Patch/InternalPatchService.cs
  src/Altinn.App.Api/Models/DataPostResponse.cs
  test/Altinn.App.Api.Tests/Controllers/ExternalApiControllerTests.cs
Labels: ignore-for-release

#1121 A few minor issues discovered when writing tests
  src/Altinn.App.Core/Internal/App/AppMetadata.cs
  test/Altinn.App.Api.Tests/Mocks/AppModelMock.cs
  test/Altinn.App.Api.Tests/Program.cs
Labels: ignore-for-release

#1005 Support getting page order from navigation groups
  src/Altinn.App.Core/Implementation/AppResourcesSI.cs
  src/Altinn.App.Core/Models/PageGroup.cs
  src/Altinn.App.Core/Models/Pages.cs
Labels: feature

#1117 Update MimeTypeMap.cs to include audio/x-m4a for .m4a files
  src/Altinn.App.Core/Helpers/MimeTypeMap.cs
Labels: other

#1113 Remove roles from IAuthenticationContext, API and IAuthorizationClient
  src/Altinn.App.Api/Controllers/AuthorizationController.cs
  src/Altinn.App.Core/Features/Auth/Authenticated.cs
  src/Altinn.App.Core/Features/Auth/AuthenticationContext.cs
  src/Altinn.App.Core/Features/Telemetry/Telemetry.Authorization.Client.cs
  src/Altinn.App.Core/Infrastructure/Clients/Authorization/AuthorizationClient.cs
  src/Altinn.App.Core/Internal/Auth/IAuthorizationClient.cs
  test/Altinn.App.Api.Tests/Mocks/AuthorizationMock.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.txt
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
  test/Altinn.App.Api.Tests/Utils/TestAuthentication.cs
  test/Altinn.App.Core.Tests/Features/Auth/AuthenticatedTests.cs
  test/Altinn.App.Core.Tests/Infrastructure/Clients/Authorization/AuthorizationClientTests.cs
Labels: kind/chore, other

#1128 Fixes incorrect matching of signees with sign documents and adds test
  src/Altinn.App.Core/Features/Signing/Models/SigneeContext.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
Labels: bugfix

#1129 Validate and update tlf and fixes hard crash
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Api/Models/SigningStateResponse.cs
  src/Altinn.App.Core/Features/Signing/SigningNotificationService.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.txt
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
  test/Altinn.App.Core.Tests/Features/Signing/Notifications/SigningNotificationServiceTests.cs
Labels: bugfix

#1130 Adds timestamp to signee state DTO
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Api/Models/SigningStateResponse.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.txt
  test/Altinn.App.Api.Tests/OpenApi/swagger.json
Labels: feature

#1124 Don't run validators during process next if the action is reject.
  src/Altinn.App.Api/Controllers/ProcessController.cs
  src/Altinn.App.Core/Internal/Process/ProcessReaderExtensions.cs
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.RunProcessNext_FailingValidator_Reject_ReturnsOk.verified.txt
  test/Altinn.App.Api.Tests/Controllers/ProcessControllerTests.cs
  test/Altinn.App.Api.Tests/Data/apps/tdd/contributer-restriction/config/process/process.bpmn
  test/Altinn.App.Core.Tests/Internal/Process/ProcessReaderExtensionsTests.cs
Labels: area/process, feature, area/signing

#1134 Add label check for backport label
  .github/workflows/check-label-added.yml
Labels: ignore-for-release, backport-ignore

#1122 Draft: correspondance instead of notification for signing call to action
  doc/adr/002-signing-transaction-handling.md
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Api/Models/SigningStateResponse.cs
  src/Altinn.App.Core/Configuration/GeneralSettings.cs
  src/Altinn.App.Core/Extensions/ServiceCollectionExtensions.cs
  src/Altinn.App.Core/Extensions/TextResourceExtensions.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/CorrespondenceRequestBuilder.cs
  src/Altinn.App.Core/Features/Correspondence/Builder/ICorrespondenceRequestBuilder.cs
  src/Altinn.App.Core/Features/Signing/Enums/NotificationChoice.cs
  src/Altinn.App.Core/Features/Signing/Helpers/SigningCorrespondanceHelper.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningDelegationService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningNotificationService.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/Mocks/AltinnCorrespondence.cs
  src/Altinn.App.Core/Features/Signing/Models/ContentWrapper.cs
  src/Altinn.App.Core/Features/Signing/Models/CorrespondanceRecipient.cs
  src/Altinn.App.Core/Features/Signing/Models/DefaultTexts.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeParty.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeState.cs
  src/Altinn.App.Core/Features/Signing/SigningCallToActionService.cs
  src/Altinn.App.Core/Features/Signing/SigningNotificationService.cs
  src/Altinn.App.Core/Features/Signing/SigningReceiptService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  src/Altinn.App.Core/Features/Telemetry/Telemetry.ProfileClient.cs
  src/Altinn.App.Core/Helpers/UrlHelper.cs
  src/Altinn.App.Core/Infrastructure/Clients/Profile/ProfileClient.cs
  src/Altinn.App.Core/Infrastructure/Clients/Profile/ProfileClientCachingDecorator.cs
  src/Altinn.App.Core/Internal/Profile/IProfileClient.cs
  src/Altinn.App.Core/Models/InstanceIdentifier.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Api.Tests/Mocks/ProfileClientMock.cs
  test/Altinn.App.Core.Tests/Configuration/GeneralSettingsTests.cs
  test/Altinn.App.Core.Tests/Extensions/TextResourceExtensionsTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/Notifications/SigningNotificationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningReceiptServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Helpers/UrlHelperTests.cs
Labels: feature, area/signing

#1145 Add display text to link replacement in correspondence message
  src/Altinn.App.Core/Features/Signing/SigningCallToActionService.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningCallToActionServiceTests.cs
Labels: feature, area/signing, backport-ignore

#1141 Split SigneeParty in PersonSignee and OrganisationSignee
  src/Altinn.App.Api/Controllers/SigningController.cs
  src/Altinn.App.Core/Features/Action/InitializeDelegatedSigningUserAction.cs
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigneeProvider.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneeContext.cs
  src/Altinn.App.Core/Features/Signing/Models/SigneesResult.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  test/Altinn.App.Api.Tests/Controllers/SigningControllerTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/Delegation/SigningDelegationServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Features/Validators/Default/SigningTaskValidatorTests.cs
Labels: other, backport-ignore

#1147 Feature/singing revoke on reject
  src/Altinn.App.Core/Features/Signing/Interfaces/ISigningService.cs
  src/Altinn.App.Core/Features/Signing/SigningService.cs
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
  test/Altinn.App.Core.Tests/Features/Signing/SigningServiceTests.cs
  test/Altinn.App.Core.Tests/Internal/Process/ProcessTasks/SigningProcessTaskTests.cs
Labels: ignore-for-release, backport-ignore
