Repository Altinn/app-lib-dotnet, pull requests merged in 2025-09, with the labels that each got.

#1451 Add endpoint for updating tags on a dataElement
  src/Altinn.App.Api/Controllers/DataTagsController.cs
  src/Altinn.App.Api/Models/SetTagsRequest.cs
  src/Altinn.App.Api/Models/SetTagsResponse.cs
  src/Altinn.App.Api/Models/TagsList.cs
  test/Altinn.App.Api.Tests/Controllers/DataTagsControllerTests.cs
  test/Altinn.App.Api.Tests/Data/Instances/tdd/contributer-restriction/500600/fad57e80-ec2f-4dee-90ac-400fa6d7720f.pretest.json
  test/Altinn.App.Api.Tests/Data/Instances/tdd/contributer-restriction/500600/fad57e80-ec2f-4dee-90ac-400fa6d7720f/3b46b9ef-774c-4849-b4dd-66ef871f5b07.pretest.json
  test/Altinn.App.Api.Tests/Data/Instances/tdd/contributer-restriction/500600/fad57e80-ec2f-4dee-90ac-400fa6d7720f/blob/3b46b9ef-774c-4849-b4dd-66ef871f5b07.pretest
  test/Altinn.App.Api.Tests/OpenApi/OpenApiSpecChangeDetection.SaveJsonSwagger.verified.json
  test/Altinn.App.Api.Tests/PublicApiTests.PublicApi_ShouldNotChange_Unintentionally.verified.txt
Labels: feature, backport-ignore

#1476 Remove unused private methods in SigningProcessTask.cs.
  src/Altinn.App.Core/Internal/Process/ProcessTasks/SigningProcessTask.cs
Labels: ignore-for-release, backport-ignore

#1482 Add .x3d support to MimeTypeMap
  src/Altinn.App.Core/Helpers/MimeTypeMap.cs
Labels: community-contribution-❤️, other, backport

#1483 [Backport] Add .x3d support to MimeTypeMap (#1482)
  src/Altinn.App.Core/Helpers/MimeTypeMap.cs
Labels: other, backport-ignore
